#menu-click {
    a {
        i {
            padding-top: 5px;
        }
    }
}

#ftwp-list {
    padding: 20px;
    background: #eee;
    border-radius: 10px;
    .level2 {
        margin-inline-start: 1em;
    }
    li {
        margin: 0.5em 0;
    }
}

.blog-content {
    margin-top: 100px !important;
}

.navbar-fixed-top {
    margin-bottom: 0;
    .top-nav {
        .container {
            .navbar-header {
                .navbar-brand {
                    float: unset;
                    display: block;
                    padding: 0;
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
    .main-nav {
        background-color: #c9a44d;
        .navbar-nav {
            width: 100%;
            position: relative;
            margin: 0;
            li {
                display: inline-block;
                // width: calc( 100% / 6);
                a {
                    color: #fff !important;
                    i {
                        font-size: 21px;
                    }
                }
                &.contact-nav {
                    a {
                        display: inline-block;
                        padding: 15px 5px;
                    }
                }
                &.icon {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: fit-content;
                }
                &:first-child {
                    display: none;
                }
                &.mobile-brand {
                    a {
                        height: 50px;
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}

.banner {
    position: relative;
    // overflow: hidden;
    margin-top: 50px;
    .banner-slide {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;
        }
        #banner-slide {
            .owl-nav {
                margin: 0;
                z-index: 999;
                button {
                    position: absolute;
                    top: 42%;
                    z-index: 999;
                    background: linear-gradient(270deg, white 16px, hsla(0, 0%, 100%, 0));
                    &.owl-prev {
                        left: 20px;
                        padding-right: 50px !important;
                    }
                    &.owl-next {
                        right: 20px;
                        padding-left: 50px !important;
                    }
                    span {
                        color: #fff;
                        font-size: 64px;
                        line-height: 1;
                        padding: 0;
                    }
                    &:hover {
                        outline: navajowhite;
                        background-color: transparent;
                        border: none;
                    }
                    &:focus {
                        outline: navajowhite;
                        background-color: transparent;
                        border: none;
                    }
                }
            }
            .owl-item {
                width: 100%;
                .item {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    .banner-content {
        position: absolute;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        .content-wrap {
            height: 100%;
            display: table;
            margin: auto;
            text-align: center;
            width: 100%;
            max-width: 800px;
            .content {
                display: table-cell;
                vertical-align: middle;
                text-align: center;
                max-width: 100%;
                margin: auto;
                .banner-info {
                    .title {
                        color: #fff;
                        font-size: 50px;
                        line-height: 1.5;
                        margin: 0;
                        text-transform: uppercase;
                    }
                    .desc {
                        color: #fff;
                        font-size: 20px;
                        line-height: 1.5;
                    }
                }
                .banner-form {
                    position: relative;
                    form {
                        position: relative;
                        display: flex;
                        background-color: #fff;
                        border-radius: 50px;
                        padding: 15px;
                        z-index: 999;
                        height: 60px;
                        align-items: center;
                        .icon-search {
                            width: 5%;
                        }
                        input {
                            width: 75%;
                            color: #333;
                            border: none;
                            font-size: 18px;
                            &:focus {
                                outline: none;
                            }
                        }
                        button.search-action {
                            width: 20%;
                            font-size: 18px;
                            font-weight: bold;
                            border-radius: 4px;
                            margin-left: 20px;
                            margin-right: 15px;
                            background: #c9a44d;
                            color: #fff;
                            border: none;
                            max-width: 140px;
                        }
                    }
                    .search-result {
                        position: absolute;
                        top: 50px;
                        left: 0;
                        width: 100%;
                        max-height: 550px;
                        z-index: 999;
                        border-radius: 10px;
                        background-color: #fff;
                        box-shadow: 0 4px 20px #ccc;
                        display: none;
                        .search-start {
                            position: relative;
                            padding: 24px;
                            .search-start-hot {
                                display: block;
                                margin-bottom: 24px;
                                .search-start-title {
                                    font-size: 15px;
                                    font-weight: 600;
                                    text-align: left;
                                    margin-top: 0;
                                }
                                .search-start-tag {
                                    display: block;
                                    text-align: left;
                                    .search-start-tag-item-wrapper {
                                        display: inline-block;
                                        .search-start-tag-item {
                                            display: inline-block;
                                            padding: 6px 12px;
                                            margin-right: 10px;
                                            max-width: 314px;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            background-color: #f5f5f5;
                                            color: #212121;
                                            cursor: pointer;
                                            &:hover {
                                                background-color: #eee;
                                            }
                                        }
                                    }
                                }
                            }
                            .search-start-section {
                                display: flex;
                                justify-content: space-between;
                                .search-start-title {
                                    font-size: 15px;
                                    font-weight: 600;
                                    text-align: left;
                                    margin-top: 0;
                                }
                                .search-start-popular-activity {
                                    .search-start-activity-list {
                                        a.search-start-activity-item {
                                            display: flex;
                                            cursor: pointer;
                                            .search-start-activity-image {
                                                margin-right: 8px;
                                                width: 32px;
                                                height: 32px;
                                                border-radius: 4px;
                                                background-repeat: no-repeat;
                                                background-size: 100% 100%;
                                                background-color: #eee;
                                            }
                                            .search-start-activity-content {
                                                h5 {
                                                    margin-top: 1.5px;
                                                    margin-bottom: 0;
                                                    text-align: left;
                                                    width: 312px;
                                                    font-size: 14px;
                                                    line-height: 16px;
                                                    font-weight: 400;
                                                    color: #4a4a4a;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    white-space: nowrap;
                                                }
                                                p {
                                                    text-align: left;
                                                    font-size: 10px;
                                                    line-height: 14px;
                                                    color: #b2b2b2;
                                                    text-transform: uppercase;
                                                }
                                            }
                                        }
                                    }
                                }
                                .search-start-popular-category {
                                    text-align: left;
                                    .search-start-category-list {
                                        .search-start-category-item {
                                            margin-bottom: 16px;
                                            font-size: 14px;
                                            line-height: 16px;
                                            a {
                                                text-decoration: none;
                                                color: #4a4a4a;
                                                &:hover {
                                                    color: #ff5722;
                                                }
                                            }
                                        }
                                    }
                                }
                                .search-start-popular-destination {
                                    text-align: left;
                                    .search-start-destination-list {
                                        .search-start-destination-item {
                                            margin-bottom: 16px;
                                            font-size: 14px;
                                            line-height: 16px;
                                            a {
                                                text-decoration: none;
                                                color: #4a4a4a;
                                                &:hover {
                                                    color: #ff5722;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .search-mobile {
                        position: fixed;
                        top: 50px;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 999999;
                        background-color: #fff;
                        box-shadow: 0 4px 20px #ccc;
                        display: none;
                        overflow: auto;
                        .search-mobile-bar {
                            width: 90vw;
                            margin: 25px auto 30px;
                            .search-mobile-input-group {
                                display: flex;
                                position: relative;
                                .search-mobile-input-field {
                                    display: inline-block;
                                    border: 1px solid #888;
                                    border-radius: 4px;
                                    padding: 1rem 7rem 1rem 1rem;
                                    width: 100%;
                                    position: relative;
                                    overflow: hidden;
                                }
                                .search-mobile-input-append {
                                    display: table;
                                    background-color: #c9a44d;
                                    width: 15%;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    height: 100%;
                                    font-size: 18px;
                                    color: #fff;
                                    border-top-right-radius: 4px;
                                    border-bottom-right-radius: 4px;
                                    .fa-search {
                                        display: table-cell;
                                        vertical-align: middle;
                                    }
                                }
                            }
                        }
                        .search-mobile-container {
                            width: 90vw;
                            margin: 0 auto;
                            .search-mobile-section {
                                padding-bottom: 20px;
                                .search-mobile-heading {
                                    display: flex;
                                    justify-content: space-between;
                                    .search-mobile-title {
                                        display: inline-flex;
                                        color: #888;
                                        font-size: 16px;
                                        margin-top: 0;
                                    }
                                    .search-mobile-sub-title {
                                        display: inline-flex;
                                        color: #00699e;
                                        font-size: 16px;
                                    }
                                }
                                .search-mobile-list {
                                    clear: both;
                                    display: block;
                                    position: relative;
                                    text-align: left;
                                    .search-mobile-item-wrapper {
                                        display: inline-block;
                                        .search-mobile-item {
                                            display: inline-block;
                                            padding: 8px 14px;
                                            margin: 0 10px 12px 0;
                                            max-width: 314px;
                                            text-overflow: ellipsis;
                                            // white-space: nowrap;
                                            border: 1px solid rgba(0, 0, 0, 0.87);
                                            border-radius: 2px;
                                            color: #212121;
                                            cursor: pointer;
                                            &:hover {
                                                background-color: #eee;
                                            }
                                        }
                                    }
                                }
                                .search-mobile-categories-list {
                                    display: grid;
                                    grid-auto-rows: 1fr;
                                    grid-template-columns: repeat(3, calc((100% - 16px - 8px) / 3));
                                    grid-column-gap: 8px;
                                    margin: -8px 0 0 -8px;
                                    .search-mobile-categories-item {
                                        display: inline-block;
                                        box-sizing: border-box;
                                        padding: 8px 12px;
                                        margin: 8px 0 0 8px;
                                        background: #fff;
                                        box-shadow: 0 4px 8px 0 #eee;
                                        border-radius: 4px;
                                        a {
                                            text-decoration: none;
                                            color: #212121;
                                            svg {
                                                display: block;
                                                width: 24px;
                                                height: 24px;
                                                margin-bottom: 2px;
                                            }
                                            span {
                                                display: block;
                                                text-align: left;
                                                font-size: 14px;
                                            }
                                        }
                                    }
                                }
                                &:last-child {
                                    padding-bottom: 80px;
                                }
                            }
                        }
                    }
                }
                .cta {
                    margin-top: 60px;
                    a {
                        padding: 12px 25px;
                        background-color: #c9a44d;
                        color: #fff;
                        border-radius: 30px;
                        font-weight: bold;
                        .start {
                            margin-left: 20px;
                            padding: 5px 10px;
                            border-radius: 15px;
                            border: 1px solid #fff;
                        }
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .cta {
                position: absolute;
            }
        }
    }
}

.advantage {
    margin: 40px 0;
    overflow: hidden;
    .advantage-item {
        display: table;
        height: 100%;
        .icon {
            display: table-cell;
            vertical-align: middle;
            img {
                width: 100%;
            }
            i {
                padding: 15px;
                color: #fff;
                width: 45px;
                text-align: center;
                border-radius: 50%;
                background: #c9a44d;
            }
        }
        .content {
            display: table-cell;
            vertical-align: middle;
            padding-left: 20px;
            p {
                margin: 0;
            }
            .title {
                font-size: 16px;
                font-weight: bold;
                // margin-bottom: .5em;
            }
            .desc {
                font-size: 14px;
            }
        }
    }
    .owl-nav {
        margin: 0;
        z-index: 999;
        margin-top: 0;
        button {
            position: absolute;
            top: 23%;
            z-index: 999;
            &.owl-prev {
                left: -15px;
            }
            &.owl-next {
                right: -15px;
            }
            span {
                color: #000;
                font-size: 30px;
                line-height: 1;
                padding: 0;
            }
            &:hover {
                outline: navajowhite;
                background-color: transparent;
                border: none;
            }
            &:focus {
                outline: navajowhite;
                background-color: transparent;
                border: none;
            }
        }
    }
}

.service {
    margin-top: 66px;
    padding: 20px 0;
    overflow: hidden;
    .service-item {
        height: 100%;
        padding: 20px 0;
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        .icon {
            width: 36px;
            height: 36px;
            display: contents;
            vertical-align: middle;
            i {
                color: #c9a44d;
                padding-left: 5px;
            }
        }
        .content {
            display: table-cell;
            vertical-align: middle;
            a {
                margin: 0;
                color: #c9a44d;
            }
            .title {
                font-size: 15px;
                font-weight: bold;
            }
            .desc {
                font-size: 14px;
            }
        }
    }
    &.desktop-hide {
        display: none;
    }
    .owl-nav {
        margin: 0;
        z-index: 999;
        margin-top: 0;
        button {
            position: absolute;
            top: -10%;
            z-index: 999;
            &.owl-prev {
                left: -15px;
                border: none;
                /* padding: 0!important; */
                font: inherit;
                // padding: 20px 60px 20px 4px !important;
                /* padding: 4px 7px; */
                background: linear-gradient(90deg, #fff 16px, hsla(0, 0%, 100%, 0)) !important;
            }
            &.owl-next {
                right: -15px;
                border: none;
                /* padding: 0!important; */
                font: inherit;
                // padding: 20px 4px 20px 60px !important;
                /* padding: 4px 7px; */
                background: linear-gradient(90deg, #fff 16px, hsla(0, 0%, 100%, 0)) !important;
            }
            span {
                color: #000;
                font-size: 30px;
                line-height: 1;
                padding: 0;
            }
            &:hover {
                outline: navajowhite;
                background-color: transparent;
                border: none;
            }
            &:focus {
                outline: navajowhite;
                background-color: transparent;
                border: none;
            }
        }
    }
}

.hot {
    overflow: hidden;
    .hot-slide {
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 9px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.location {
    overflow: hidden;
    padding: 25px 0;
    background-color: #eceff3;
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-image: url("https://i.imgur.com/l3Nbglg.png");
    .location-intro {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
        .link {
            margin: 0;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            color: #c9a44d;
        }
    }
    .location-slide {
        margin-bottom: 6px;
        .owl-item {
            .item {
                transform: translateY(0);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
                background-color: #fff;
                transition: all 0.3s;
                border-radius: 5px;
                min-height: 270px;
                .item-image {
                    position: relative;
                    max-height: 180px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    overflow: hidden;
                    .location-icon {
                        position: absolute;
                        left: 3%;
                        top: 3%;
                        color: #fff;
                        z-index: 10;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 9;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                .item-info {
                    padding: 0 10px 15px;
                    .meter {
                        height: 14px;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 600;
                        color: #c72320;
                        margin-top: 12px;
                        margin-bottom: -6px;
                    }
                    .name {
                        color: #000;
                        display: -webkit-box;
                        width: 100%;
                        line-height: 18px;
                        // max-height: 38px;
                        min-height: 50px;
                        margin-top: 12px;
                        margin-bottom: 6px;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: left;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .price {
                        font-size: 16px;
                        line-height: 16px;
                        color: #ff0000;
                        font-weight: bold;
                        margin: 0;
                    }
                    .status {
                        text-align: left;
                        margin-top: 2px;
                        line-height: 14px;
                        font-size: 14px;
                        color: #333;
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
                    > * {
                        text-decoration: none;
                    }
                }
            }
        }
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 8px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .btn {
        text-align: center;
        width: 100%;
        a {
            width: 320px;
            max-width: 100%;
            display: inline-block;
            margin: auto;
            text-align: center;
            padding: 10px 25px;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #c9a44d;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.diem-den {
    overflow: hidden;
    padding: 25px 0;
    background-color: #f5f5f5;
    .diem-den-intro {
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
    }
    .diem-den-slide {
        margin-bottom: 6px;
        .owl-item {
            .item {
                position: relative;
                transform: translateY(0);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
                background-color: #fff;
                transition: all 0.3s;
                border-radius: 5px;
                .name {
                    position: absolute;
                    left: 4%;
                    bottom: 0;
                    width: 100%;
                    color: #fff;
                    font-size: 20px;
                    font-weight: bold;
                    line-height: 1.2;
                }
                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
                    > * {
                        text-decoration: none;
                    }
                }
            }
        }
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 8px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .btn {
        text-align: center;
        width: 100%;
        a {
            width: 320px;
            max-width: 100%;
            display: inline-block;
            margin: auto;
            text-align: center;
            padding: 10px 25px;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #c9a44d;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .tab {
        overflow: hidden;
        button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
            border: 1px solid #ccc;
            &:hover {
                background-color: #ddd;
            }
            &.active {
                background-color: #ccc;
            }
        }
    }
    .tabcontent {
        display: none;
        padding: 6px 0px;
        // border: 1px solid #ccc;
        border-top: none;
    }
}

.dich-vu {
    overflow: hidden;
    padding: 0 0 20px;
    background-color: #f5f5f5;
    .dich-vu-intro {
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
    }
    .dich-vu-slide {
        margin-bottom: 6px;
        .owl-stage {
            padding-top: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
        }
        .owl-item {
            .item {
                transform: translateY(0);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
                background-color: #fff;
                transition: all 0.3s;
                border-radius: 5px;
                .item-image {
                    position: relative;
                    height: 180px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    overflow: hidden;
                    .location-icon {
                        position: absolute;
                        left: 3%;
                        top: 3%;
                        color: #fff;
                        z-index: 10;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 9;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                .item-info {
                    padding: 0 10px 15px;
                    min-height: 70px;
                    .name {
                        color: #000;
                        width: 100%;
                        line-height: 1.5;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: left;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        max-height: 50px;
                    }
                    .old-price {
                        font-size: 12px;
                        margin: 0;
                        color: #333;
                    }
                    .price {
                        font-size: 14px;
                        line-height: 16px;
                        color: #000;
                        font-weight: bold;
                        margin: 0;
                    }
                    .status {
                        text-align: left;
                        margin-top: 2px;
                        line-height: 14px;
                        font-size: 12px;
                        color: #333;
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
                    > * {
                        text-decoration: none;
                    }
                }
            }
        }
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 8px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .btn {
        text-align: center;
        width: 100%;
        a {
            width: 320px;
            max-width: 100%;
            display: inline-block;
            margin: auto;
            text-align: center;
            padding: 10px 25px;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #c9a44d;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.am-thuc {
    overflow: hidden;
    padding: 0 0 80px;
    background-color: #f5f5f5;
    .am-thuc-intro {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
        .link {
            margin: 0;
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
        }
    }
    .am-thuc-slide {
        margin-bottom: 20px;
        .owl-item {
            .item {
                transform: translateY(0);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
                background-color: #fff;
                transition: all 0.3s;
                border-radius: 5px;
                .item-image {
                    position: relative;
                    max-height: 180px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    overflow: hidden;
                    .location-icon {
                        position: absolute;
                        left: 3%;
                        top: 3%;
                        color: #fff;
                        z-index: 10;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 9;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                .item-info {
                    padding: 0 10px 15px;
                    .meter {
                        height: 14px;
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 600;
                        color: #c72320;
                        margin-top: 12px;
                        margin-bottom: -6px;
                    }
                    .name {
                        color: #000;
                        display: -webkit-box;
                        width: 100%;
                        line-height: 18px;
                        max-height: 38px;
                        margin-top: 12px;
                        margin-bottom: 6px;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .price {
                        font-size: 14px;
                        line-height: 16px;
                        color: #000;
                        font-weight: bold;
                        margin: 0;
                    }
                    .status {
                        text-align: left;
                        margin-top: 2px;
                        line-height: 14px;
                        font-size: 12px;
                        color: #333;
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
                    > * {
                        text-decoration: none;
                    }
                }
            }
        }
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 8px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .btn {
        text-align: center;
        width: 100%;
        a {
            width: 320px;
            max-width: 100%;
            display: inline-block;
            margin: auto;
            text-align: center;
            padding: 10px 25px;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: #c9a44d;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.cam-hung {
    overflow: hidden;
    padding: 25px 0;
    .cam-hung-intro {
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
    }
    .cam-hung-slide {
        .owl-carousel {
            background-image: url("https://res.klook.com/image/upload/fl_lossy.progressive,q_85/b_black,o_88/c_fill,e_blur:10000,,w_764,h_352/v1602587233/banner/q9axp8mlkxmwt6pqknx1.webp");
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
        }
        .owl-item {
            .item {
                transition: all 0.3s;
                border-radius: 5px;
                padding: 20px;
                .item-box {
                    background-color: #fff;
                    transform: translateY(0);
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
                    margin-bottom: 10px;
                    &:hover {
                        transform: translateY(-4px);
                        box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
                    }
                }
                .first-box {
                    .number {
                        height: 180px;
                        font-size: 48px;
                        color: #fff;
                        font-weight: bold;
                    }
                    .content {
                        color: #fff;
                        .title {
                            font-size: 20px;
                            line-height: 28px;
                            font-weight: 700;
                            -webkit-line-clamp: 2;
                            margin-bottom: 0;
                        }
                        .desc {
                            font-size: 12px;
                            line-height: 16px;
                            -webkit-line-clamp: 3;
                            margin-top: 6px;
                        }
                    }
                }
                .item-image {
                    position: relative;
                    max-height: 180px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    overflow: hidden;
                    .location-icon {
                        position: absolute;
                        left: 3%;
                        top: 3%;
                        color: #fff;
                        z-index: 10;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 9;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                .item-info {
                    padding: 0 10px 15px;
                    .name {
                        color: #000;
                        display: -webkit-box;
                        width: 100%;
                        line-height: 18px;
                        max-height: 38px;
                        margin-top: 12px;
                        margin-bottom: 6px;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: left;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .price {
                        font-size: 16px;
                        line-height: 16px;
                        color: #000;
                        font-weight: bold;
                        margin: 0;
                    }
                    .status {
                        text-align: left;
                        margin-top: 2px;
                        line-height: 14px;
                        font-size: 14px;
                        color: #333;
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    > * {
                        text-decoration: none;
                    }
                }
            }
        }
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 8px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.gioi-thieu {
    overflow: hidden;
    padding: 25px 0;
    background-color: #f5f5f5;
    .gioi-thieu-intro {
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
        .desc {
            line-height: 1.5;
            font-size: 16px;
            margin: 0.5em 0;
        }
    }
    .gioi-thieu-slide {
        margin-bottom: 6px;
        .owl-item {
            .item {
                transform: translateY(0);
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
                background-color: #fff;
                transition: all 0.3s;
                border-radius: 5px;
                .item-image {
                    position: relative;
                    max-height: 180px;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                    overflow: hidden;
                    .location-icon {
                        position: absolute;
                        left: 3%;
                        top: 3%;
                        color: #fff;
                        z-index: 10;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: 9;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
                .item-info {
                    padding: 0 10px 15px;
                    .name {
                        color: #000;
                        display: -webkit-box;
                        width: 100%;
                        line-height: 18px;
                        max-height: 38px;
                        margin-top: 12px;
                        margin-bottom: 6px;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                        white-space: normal;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .old-price {
                        font-size: 12px;
                        margin: 0;
                        color: #333;
                    }
                    .price {
                        font-size: 14px;
                        line-height: 16px;
                        color: #000;
                        font-weight: bold;
                        margin: 0;
                    }
                    .status {
                        text-align: left;
                        margin-top: 2px;
                        line-height: 14px;
                        font-size: 12px;
                        color: #333;
                        margin-bottom: 0;
                    }
                }
                &:hover {
                    transform: translateY(-4px);
                    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
                    > * {
                        text-decoration: none;
                    }
                }
            }
        }
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 8px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.find-more {
    overflow: hidden;
    padding: 25px 0;
    .find-more-intro {
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
    }
    .item-box {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 0 150px;
        h3 {
            margin: 0;
            margin-bottom: 20px;
        }
        p {
            margin: 0;
            margin-top: 20px;
            font-weight: bold;
            font-size: 20px;
        }
        img {
            width: 120px !important;
            height: 120px;
            object-fit: cover;
            border-radius: 100px;
        }
        .item-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 10px;
            z-index: 99;
            p {
                color: #fff;
                &.title {
                    font-size: 24px;
                    font-weight: bold;
                }
                &.desc {
                    margin-bottom: 0;
                }
            }
        }
        // &:after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     background-color: rgba(0, 0, 0, .5);
        // }
    }
    .cam-nghi-slide {
        .owl-item {
            .item-box {
                background-color: #ccc;
                p {
                    color: #fff;
                }
            }
        }
        .owl-nav {
            margin: 0;
            .nav-btn {
                position: absolute;
                top: 35%;
                padding: 8px 16px;
                border-radius: 50%;
                background: #fff;
                box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
                &.prev-slide {
                    left: -25px;
                }
                &.next-slide {
                    right: -25px;
                }
                &:hover {
                    color: #333;
                    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
}

.doi-tac {
    overflow: hidden;
    padding: 0 0 80px;
    .doi-tac-intro {
        margin-bottom: 30px;
        .title {
            font-size: 28px;
            font-weight: bold;
            margin: 0;
        }
    }
    .doi-tac-slide {
        .owl-item {
            .item {
                img {
                    // filter: grayscale(1);
                    // &:hover{
                    //     filter: grayscale(0);
                    // }
                }
            }
        }
    }
}

@media (max-width: 812px) {
    .navbar-fixed-top {
        .main-nav {
            .navbar-nav {
                li {
                    width: 100%;
                    &.icon {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        .hotline {
                            background: #fff;
                            border: 2px solid #c9a44d;
                            border-radius: 10px;
                            padding: 1px 10px;
                            color: #c9a44d;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            a {
                                margin: 0;
                                margin-left: 5px;
                                text-decoration: none;
                            }
                        }
                        a {
                            i {
                                margin-top: 2px;
                            }
                        }
                    }
                    &:first-child {
                        display: block;
                    }
                    &:not(:first-child) {
                        display: none;
                    }
                    .icon {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                &.responsive {
                    position: relative;
                    li {
                        display: block;
                    }
                    a {
                        float: none;
                        display: block;
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .find-more {
        .item-box {
            padding: 0 30px;
        }
    }
    .service {
        &.desktop-hide {
            display: block;
        }
    }
    .mobile-hide {
        display: none !important;
    }
    .banner {
        margin-top: 0;
        .banner-slide {
            height: 30vh;
            #banner-slide {
                height: 100%;
                .owl-stage-outer {
                    height: 100%;
                    .owl-stage {
                        height: 100%;
                        .owl-item {
                            height: 100%;
                            .item {
                                height: 100%;
                                img {
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
        .banner-content {
            background-color: rgba(0, 0, 0, 0.2);
            .content-wrap {
                .cta {
                    display: none;
                }
                .content {
                    display: flex;
                    flex-direction: column-reverse;
                    width: 80%;
                    height: 100%;
                    justify-content: space-around;
                    .banner-info {
                        .title {
                            font-size: 1.5em;
                        }
                        .desc {
                            font-size: 16px;
                        }
                    }
                    .banner-form {
                        margin: 20px auto;
                        input {
                            font-size: 16px;
                        }
                        button {
                            font-size: 12px;
                            height: 35px;
                            &.search-action {
                                width: 11%;
                                font-size: 16px;
                                height: 30px;
                            }
                        }
                        .search-result {
                            display: none !important;
                            margin-right: 20px;
                        }
                    }
                    .cta {
                        a {
                            font-size: 9px;
                        }
                    }
                }
            }
        }
    }
    .advantage {
        .owl-stage {
            display: flex;
        }
        .advantage-item {
            margin: 10px auto;
        }
    }
}

.cid-rc6ztNtWvz {
    padding: 120px 0;
}

.cid-rc6ztNtWvz::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #f1f1f1;
    z-index: 1000;
}

.cid-rc6ztNtWvz .mbr-overlay {
    background-color: #fff;
    opacity: 1;
}

.cid-rc6ztNtWvz .mbr-text {
    padding: 0;
    margin: 0 0 25px;
}

.cid-rc6ztNtWvz .section-subtitle {
    color: #7f7e7e;
}

.cid-rc6ztNtWvz .text-block {
    margin: auto;
    margin-bottom: 1.5rem;
}

.cid-rc6ztNtWvz .slider-box {
    margin: auto;
}

.cid-rc6ztNtWvz .slider-box .slide-wrap {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.cid-rc6ztNtWvz .slider-box .slide-wrap .item-card {
    width: 100%;
}

.cid-rc6ztNtWvz .card-img-wrap,
.cid-rc6ztNtWvz .text-content {
    background: 0 0;
}

.cid-rc6ztNtWvz .text-content {
    padding: 3rem 4rem;
    word-break: break-word;
    overflow: hidden;
}

.cid-rc6ztNtWvz .card-signature {
    padding-top: 2rem;
}

.cid-rc6ztNtWvz .card-img-wrap {
    padding-top: 3rem;
}

.cid-rc6ztNtWvz .card-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
}

.cid-rc6ztNtWvz .card-img amp-img img {
    border-radius: 50%;
}

@media (max-width: 767px) {
    .cid-rc6ztNtWvz .text-content {
        padding: 1rem;
    }
    .cid-rc6ztNtWvz .card-img-wrap {
        padding-top: 1rem;
    }
    .cid-rc6ztNtWvz .card-img {
        width: 150px;
        height: 150px;
    }

    .center-block {
        margin: 0 auto;
    }
    .author-box {
        text-align: center;
    }
    .author-social-links {
        text-align: center;
        display: block;
        margin-top: 10.5px;
    }
}

.author-box-title .author-social-links {
    text-align: center;
    display: block;
    margin-top: 10.5px;
}

.author-box-intro {
    margin-top: 15px;
}
a.author-social-link.small {
    margin-left: 5px;
}

.js-accommodation .pl-3 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
