.main-container{
    width: 1060px;
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;

    .cat-lists{
        .list{
            list-style: none;
            column-count: 9;
            padding-inline-start: 0;
            li{
                text-align: center;
                a{
                    display: block;
                    img{
                        width: 70%;
                    }
                    .text{
                        text-transform: uppercase;
                        font-size: 13px;
                        line-height: 1.4;
                        color: #000;
                        font-weight: bold;
                    }
                    &:hover{
                        text-decoration: none !important;
                        .text{
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }

    .blog-item{
        max-width: 100%;
        position: relative;
        overflow: hidden;
        &:hover{
            img{
                transform: scale(1.1);
                transition: all .3s;
            }
        }
        a.wrap{
            display: block;
            z-index: 5;
            position: relative;
            img{
                max-width: 100%;
                transition: all .3s;
            }
            &:before{
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0%;
                background-color: rgba(0,0,0,.1);
                z-index: 3;
            }
        }
        .blog-info{
            pointer-events: none;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 9;
            padding: 20px 10px;
            .title{
                color: #fff;
                font-size: 16px;
                line-height: 1.3;
                margin-bottom: .5em;
                font-weight: bold;
            }
            .meta-info{
                .post-author-name{
                    display: inline-block;
                    font-weight: bold;
                    a{
                        color: #fff;
                        font-size: 13px;
                    }
                }
                .post-date{
                    color: #aaa;
                    font-size: 13px;
                }
            }
        }
    }

    .intro-sec{
        .intro-list{
            display: grid;
            grid-gap: 5px;
            .first-item{
                grid-column: 1 / 3;
                grid-row: 1;
                height: 500px;
                .blog-item{
                    height: 100%;
                    a.wrap{
                        height: 100%;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .list-item{
                grid-column: 3;
                grid-row: 1;
                height: 500px;
                overflow: hidden;
                .blog-item{
                    height: 33%;
                    margin-bottom: calc(1%/2);
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .cate-sec{
        margin: 50px 0;
        .cat-title{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 1em;
        }
        .blog-list{
            ul{
                list-style: none;
                padding-inline-start: 0;
                column-count: 3;
                column-gap: 5px;
                .blog-item{
                    margin-bottom: 5px;
                }
            }
        }
        
        .owl-dots{
            display: none;
        }
        .owl-nav{
            text-align: left;
            button{
                margin: 0;
                display: inline-block;
                padding: 1px 10px 4px !important;
                line-height: 1;
                border: 1px solid;
                border-radius: unset;
                font-size: 30px;
                font-weight: bold;
                margin-right: 5px;
                &:hover{
                    color: #fff;
                    border-color: #4db2ec;
                    background-color: #4db2ec;
                }
            }
        }
    }

    .blog-sec{
        margin: 50px 0;
        .cat-title{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 1em;
        }
        .post-list{
            ul{
                list-style: none;
                padding-inline-start: 0;
                column-count: 3;
                column-gap: 5px;
                .post-item{
                    margin-bottom: 5px;
                    a{
                        display: block;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .post-info{
                        .title{
                            color: #000;
                        }
                        .post-author-name{
                            display: inline-block;
                        }
                        .post-date{
                            display: inline-block;
                        }
                    }
                    .excerpt{
                        color: #aaa;
                    }
                }
            }
        }
    }
}

@media (max-width: 821px){

}

@media (max-width: 676px){
    .main-container{
        .cat-lists{
            .list{
                column-count: 3;
            }
        }
        .intro-sec{
            .intro-list{
                .first-item{
                    grid-column: 1;
                    grid-row: 1;
                    height: auto;
                }
                .list-item{
                    grid-column: 1;
                    grid-row: 2;
                    height: auto;
                    .owl-stage{
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                    .blog-item{
                        height: 150px;
                        margin: 0 3px;
                    }
                }
            }
        }

        .cate-sec{
            .blog-list{
                ul{
                    column-count: 1;
                    .blog-item{

                    }
                }
            }
        }

        .blog-sec{
            .post-list{
                ul{
                    column-count: 1;
                }
            }
        }
    }
}