textarea:focus,
input:focus {
    outline: none;
}

.flex {
    display: flex;
}

.start-container {
    text-align: start;
    padding: 0px 30px;
    span {
        color: #b7b7b7;
        &.checked {
            color: orange;
        }
    }
}

// .navbar-default{
.navbar-nav {
    li {
        a {
            color: #c9a44d !important;
            img {
                width: 20px;
                height: 20px;
            }
            i {
                // padding: 0 4px !important;
                padding: 0px 5px;
            }
        }
        .hoa {
            // padding: 3px;
            color: #aa0000 !important;
            font-weight: 600;
            padding-right: 3px;
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
}

// }
.search-bar {
    margin-top: 50px;
    height: 132px;
    background-color: #1f1f1f;
    @include respond-tabletportrait {
        height: auto;
    }
    .container {
        height: 100%;
        padding: 20px 90px;
        @include respond-tabletportrait {
            height: fit-content;
        }
        .row {
            height: 100%;
            // @include respond-tabletportrait {
            //   height: fit-content;
            // }
            display: flex;
            justify-content: center;
            align-items: center;
            >.flex {
                height: fit-content;
                align-items: center;
                justify-content: center;
                padding: 0 20px;
                @include respond-tabletportrait {
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                @include respond-mobile {
                    justify-content: start;
                }
            }
        }
    }
    .bootstrap-select {
        @include respond-tabletportrait {
            width: 50% !important;
        }
        button {
            border: 1px solid #c9a44d;
            .caret,
            .filter-option-inner-inner {
                color: #c9a44d;
            }
            .filter-option-inner {
                &::before {
                    margin-right: 10px;
                    height: 20px;
                    width: 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    content: "";
                }
                .filter-option-inner-inner {
                    font-weight: bold;
                    margin-left: 25px;
                }
            }
        }
    }
    .khoi-hanh {
        .filter-option-inner::before {
            background-image: url("../image/flight.svg");
        }
        @include respond-mobile {
            width: 100% !important;
        }
    }
    .gia {
        margin-left: 20px !important;
        @include respond-tabletportrait {
            margin-left: 0 !important;
        }
        .filter-option-inner::before {
            background-image: url("../image/money.svg");
        }
        @include respond-mobile {
            margin-top: 10px;
            width: 100% !important;
        }
    }
    .date {
        @include respond-tabletportrait {
            width: 100%;
        }
        .input-group {
            &.date {
                width: 100px;
                background-color: white;
                @include respond-tabletlandscape {
                    width: auto;
                }
                @include respond-tabletportrait {
                    margin-top: 20px;
                }
                &.tu-ngay {
                    margin-left: 20px !important;
                    @include respond-tabletportrait {
                        margin-left: 0 !important;
                    }
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &.den-ngay {
                    margin-left: 35px;
                    @include respond-tabletportrait {
                        margin-left: 0;
                    }
                    input {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
                &::before {
                    height: 20px;
                    width: 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: 8px;
                    content: "";
                    background-image: url("../image/date.svg");
                }
                input {
                    margin-left: 30px;
                    &::placeholder {
                        color: #c9a44d;
                        opacity: 1;
                        /* Firefox */
                    }
                    border: none;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    @include respond-tabletportrait {
                        width: fit-content;
                    }
                }
                @include respond-tabletportrait {
                    width: 50%;
                    margin-right: 1px;
                    border-radius: 5px;
                }
            }
        }
    }
    .so-nguoi {
        margin-left: 45px !important;
        .filter-option-inner::before {
            background-image: url("../image/money.svg");
        }
        @include respond-tabletportrait {
            margin-top: 20px;
            width: 100% !important;
            margin-left: 0 !important;
        }
        @include respond-mobile {
            margin-left: 0 !important;
        }
    }
    .bth-tim-kiem {
        margin-left: 20px !important;
        padding-left: 20px;
        padding-right: 20px;
        height: fit-content;
        color: white;
        background-color: #c9a44d;
        border: none;
        border-radius: 3px;
        @include respond-tabletportrait {
            margin-top: 20px;
            width: 100% !important;
            margin-left: 0 !important;
        }
    }
}

.slider {
    .carousel-inner {
        .item>div {
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: -60px;
        }
    }
}

.text {
    // padding: 0px 100px;
    .title {
        text-align: start;
        font-weight: bold;
        font-size: 32px;
        padding: 0 30px;
    }
    .description {
        padding: 0 30px;
        margin-top: 10px;
        font-size: 15px;
        text-align: start;
        @include respond-mobile {
            padding: 20px;
        }
    }
    .item {
        .thanh {
            width: 50px;
            height: 50px;
            // background-color: red;
            border-radius: 50%;
            margin: auto;
            background-repeat: round;
            background-size: auto;
        }
        
        h4 {
            color: black;
            font-size: 15px;
            text-align: center;
        }
    }
    .breadcrumb {
        color: black;
        background-color: white;
        margin-top: 10px;
        margin-bottom: 0;
        .breadcrumb-item {
            a {
                color: black;
                &:hover {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }
}

.slider {
    .carousel-inner {
        .item>div {
            background-attachment: unset !important;
            margin-left: 0 !important;
            @include respond-mobile {
                height: 300px !important;
            }
        }
    }
}

.star-container {
    padding-left: 30px !important;
    span.checked {
        color: orange;
    }
}

.search-bar {
    .search-section {
        display: flex;
        justify-content: space-around;
    }
}

.products {
    margin-top: 20px;
    .sort {
        height: 80px;
        background-color: #ebebeb;
        color: #c9a44d;
        justify-content: flex-end;
        @include respond-tabletportrait {
            justify-content: flex-start;
        }
        >div {
            margin-top: auto;
            margin-bottom: auto;
        }
        span {
            font-size: 14px;
            font-weight: bold;
        }
        .bootstrap-select {
            margin-left: 10px;
            button {
                border: 1px solid #c9a44d;
                .caret,
                .filter-option-inner-inner {
                    color: #c9a44d;
                }
            }
        }
    }
    .product-list {
        position: relative;
        margin-top: 40px;
        // height: 560px;
        @include respond-mobile {
            width: 100%;
        }
        // > div {
        //   position: absolute;
        // }
        .wrap-item {
            cursor: pointer;
            max-height: 600px;
            height: unset !important;
            margin-bottom: 0 !important;
            @include respond-tabletlandscape {
                margin-top: 30px;
            }
            @include respond-tabletportrait {
                width: 50%;
            }
            @include respond-mobile {
                width: 100%;
            }
        }
        .item {
            cursor: pointer;
            position: relative;
            border-radius: 5px;
            margin-bottom: 50px;
            margin-top: 10px;
            @include respond-mobile {
                margin-bottom: 0;
            }
            .heart {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 25px;
                height: 25px;
                z-index: 1;
            }
            .bookmark {
                position: absolute;
                background-image: url("../image/bookmark.svg");
                height: 50px;
                width: fit-content;
                padding: 0 10px;
                background-repeat: no-repeat;
                background-size: cover;
                top: -15px;
                left: 20px;
                color: white;
                font-size: 14px;
                font-weight: bold;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                text-transform: uppercase;
                &::after {
                    content: "";
                    background-image: url(../image/polygon.svg);
                    height: 15px;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    left: 127px;
                }
                p {
                    margin: auto;
                }
            }
            .image-group {
                img {
                    width: 100%;
                }
            }
            .date-group {
                height: 50px;
                background-color: #c9a44d;
                color: white;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 10px;
                position: relative;
                .date {
                    align-items: center;
                    img {
                        height: 25px;
                        width: 25px;
                    }
                }
            }
            .detail-group {
                padding: 15px;
                background-color: #ebebeb;
                border-radius: 5px;
                h4 {
                    line-height: 1.2;
                    min-height: 70px;
                }
                .blow-name {
                    display: flex;
                    justify-content: space-between;
                    .left-content {
                        .start-container {
                            .fa-star {
                                @include respond-tabletportrait {
                                    font-size: 2vw;
                                }
                                @include respond-mobile {
                                    font-size: 3vw;
                                }
                            }
                        }
                        .review {
                            font-size: 12px;
                            color: #8c8c8c;
                        }
                    }
                    .right-content {
                        min-height: 67px;
                        @include respond-tabletportrait {
                            min-height: 55px;
                        }
                        @include respond-mobile {
                            min-height: unset;
                        }
                        .money {
                            color: #e44343;
                            font-size: 28px;
                            font-weight: bold;
                            line-height: 1;
                            margin-bottom: 0;
                            @include respond-tabletportrait {
                                font-size: 3vw;
                            }
                            @include respond-mobile {
                                font-size: 5vw;
                            }
                        }
                        .root-money {
                            text-decoration: line-through;
                            color: #b1b4b9;
                            font-size: 22px;
                            line-height: 22px;
                            text-align: right;
                            @include respond-tabletportrait {
                                font-size: 3vw;
                            }
                        }
                    }
                }
                .tien-ich {
                    >small {
                        &:first-child {
                            margin-left: 0;
                        }
                        margin-left: 10px;
                        color: #007ae9;
                        font-size: 10px;
                        font-weight: bold;
                        border: 0.8px solid gray;
                        border-radius: 4px;
                        padding: 6px;
                    }
                }
                .detail {
                    position: relative;
                    color: #e44343;
                    margin-top: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    p {
                        margin-left: 30px;
                    }
                    .code {
                        position: relative;
                        &::before {
                            background-image: url("../image/document.svg");
                            content: "";
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 0;
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .bao-hiem {
                        position: relative;
                        &::before {
                            background-image: url("../image/baohiem.svg");
                            content: "";
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 0;
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .ngay-di {
                        position: relative;
                        &::before {
                            background-image: url("../image/date-red.svg");
                            content: "";
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 0;
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .gio-di {
                        position: relative;
                        &::before {
                            background-image: url("../image/time.svg");
                            content: "";
                            background-repeat: no-repeat;
                            position: absolute;
                            top: 0;
                            width: 25px;
                            height: 25px;
                        }
                    }
                }
                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-size: 17px;
                    font-weight: bold;
                    width: 100%;
                    background-color: #c9a44d;
                    border: none;
                    border-radius: 10px;
                    padding: 15px;
                    text-transform: uppercase;
                    text-align: center;
                    @include respond-tabletportrait {
                        font-size: 2vw;
                    }
                    @include respond-mobile {
                        font-size: 4vw;
                    }
                    .number-circle {
                        height: 30px;
                        width: 30px;
                        color: red;
                        margin: 0 5px;
                        background-color: white;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                    }
                }
                .custom-btn {
                    text-align: center;
                    margin: 20px 0;
                    a {
                        color: #c9a44d;
                        font-size: 17px;
                        font-weight: bold;
                        width: 100%;
                        background-color: #fff;
                        border: 2px solid #c9a44d;
                        border-radius: 10px;
                        padding: 15px;
                        text-transform: uppercase;
                        text-align: center;
                        &:hover {
                            text-decoration: none;
                            background-color: #c9a44d;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.realtion-post {
    .title {
        font-size: 22px;
    }
    .wrap-item {
        cursor: pointer;
        .item {
            .image {
                width: 100%;
            }
            .text {
                margin-top: 5px;
                text-align: center;
                font-size: 12px;
            }
            .date {
                text-align: center;
                color: #8c8c8c;
                font-size: 10px;
            }
        }
    }
}

.navbar {
    .main-nav {
        display: none;
    }
}

:root {
    --color1: #fbbc01;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: none !important;
    width: 100vw;
    height: 100vh;
    // background: url('https://lamaisondeli.vn/wp-content/uploads/2018/04/cover-6.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    // display: flex;
    // text-align: center;
    // justify-content: center;
    // align-items: center;
}

header {
    display: none;
    &::before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        display: block;
        background: rgba(0, 0, 0, 0.3);
    }
}

header {
    input {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 12px;
        left: 12px;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        position: fixed;
    }
}

header {
    input {
        &:checked~ {
            .menu-icon {
                .menu-line {
                    &::before {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }
    }
}

header {
    input {
        &:checked~ {
            .menu-icon {
                .menu-line {
                    &::after {
                        transform: rotate(90deg);
                        top: 0;
                    }
                }
            }
        }
    }
}

header {
    input {
        &:checked~ {
            .menu-icon {
                .menu-line {
                    transform: rotate(135deg);
                    transition: 0.3s;
                }
            }
        }
    }
}

header {
    input {
        &:checked~ {
            .menu-item {
                right: 0;
            }
        }
    }
}

.menu-icon {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-line {
    height: 4px;
    width: 100%;
    background: var(--color1);
    position: relative;
}

.menu-line {
    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        background: var(--color1);
        top: -14px;
    }
}

.menu-line {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        background: var(--color1);
        top: 14px;
    }
}

.menu-item {
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: -100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    transition: 0.5s;
}

.menu-item {
    li {
        line-height: 40px;
    }
}

.menu-item {
    li {
        a {
            color: var(--color1);
        }
    }
}

.header-text {
    position: absolute;
}

.header-text {
    h1 {
        font-size: 50px;
        color: var(--color1);
        margin-bottom: 20px;
    }
}

.header-text {
    a {
        padding: 15px 40px;
        background: var(--color1);
        color: #000;
        border-radius: 50px;
        font-size: 25px;
        opacity: 0.3;
        animation: headerAnimation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

.header-text {
    a {
        &:hover {
            color: var(--color1);
            background: transparent;
            border: 2px solid var(--color1);
        }
    }
}

#faq{
    margin-top: 50px;
}

@keyframes headerAnimation {
    0% {
        opacity: 0.4;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

@media only screen and (max-width: 63.9375em) {
    .contact-nav {
        display: none !important;
    }
    .flex {
        display: block;
        .date {
            input {
                width: 248px !important;
            }
        }
        .date {
            flex-direction: column;
            .input-group {
                .date input {
                    width: 110px;
                }
            }
        }
    }
    .navbar {
        .main-nav {
            display: block;
            background-color: white;
            .navbar-nav {
                li {
                    a {
                        color: #c9a44d !important;
                        // margin-right: 40px;
                    }
                }
            }
        }
        header {
            display: block !important;
            height: 0px !important;
            display: flex !important;
            .menu-icon {
                width: 30px;
                height: 30px;
                position: absolute;
                top: 12px;
                left: 12px;
                opacity: 1;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .nana {
                img {
                    width: 50px;
                    height: 50px;
                    margin-left: 300px;
                    // display: flex;
                    // align-items:end;
                }
            }
            &::before {
                position: absolute;
                width: 100%;
                height: 0%;
                content: "";
                display: block;
                background: rgba(0, 0, 0, 0.3);
            }
            .menu-item {
                position: fixed;
                width: 300px;
                height: 40%;
                background: rgba(0, 0, 0, 0.7);
                top: 0;
                right: -100%;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                z-index: 10;
                flex-direction: column;
                transition: 0.5s;
                li {
                    a {
                        color: var(--color1);
                        // text-align: center;
                        padding-right: 80px;
                    }
                }
            }
            input {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 12px;
                left: 12px;
                opacity: 0;
                z-index: 2;
                cursor: pointer;
                position: fixed;
            }
        }
    }
    .item {
        flex-direction: column;
        margin: auto;
    }
    .text {
        h1 {
            font-size: 25px;
        }
        .description {
            padding: 0px 30px;
        }
    }
    .products {
        .item {
            margin: auto;
            display: block;
        }
    }
    .container {
        // width: 350px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        .row {
            margin: auto;
            display: block;
            h1 {
                font-size: 25px;
            }
            .flex {
                margin: auto;
                display: block;
                .logo {
                    margin: auto;
                    display: block;
                }
                .na {
                    display: flex;
                    justify-content: center;
                }
                p {
                    text-align: center;
                }
                .flex {
                    display: flex;
                    justify-content: center;
                }
                .group-image {
                    justify-content: center;
                    justify-items: center;
                    text-align: center;
                    // display: block;
                    // padding: 0px 0px 0px 10px;
                }
            }
            .about {
                text-align: center;
                h4 {
                    text-align: center;
                }
            }
            .follow {
                h4 {
                    text-align: center;
                }
                .hung {
                    display: flex;
                    justify-content: center;
                    a {
                        padding: 15px 15px 15px 20px;
                    }
                }
            }
            .info-group {
                display: block;
                margin-top: 10px;
                .vip {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .hotline {
                text-align: center;
                .phone {
                    margin-top: 17px;
                }
            }
            .info-group {
                img {
                    padding: 10px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .slider {
        .carousel-inner {
            .item>div {
                height: 400px;
                background-size: cover;
                background-repeat: no-repeat;
                margin-left: -500px;
            }
        }
    }
}

.section-1,
.section-2,
.section-3,
.section-4,
.section-5,
.section-6,
.section-7 {
    margin-bottom: 48px;
}