textarea:focus,
input:focus {
  outline: none;
}
.flex {
  display: flex;
}
.start-container {
  text-align: start;
  // padding: 0px 30px;
  padding: 0px !important;
  display: flex;
  span {
    color: #b7b7b7;
    &.checked {
      color: orange;
    }
  }
}
// .navbar-default{
.navbar-nav {
  li {
    a {
      color: #c9a44d !important;
      img {
        width: 20px;
        height: 20px;
      }
      i {
        // padding: 0 4px !important;
        padding: 0px 5px;
      }
    }
    .hoa {
      // padding: 3px;
      color: #aa0000 !important;
      font-weight: 600;
      padding-right: 3px;
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}
// }
.search-bar {
  margin-top: 50px;
  height: 132px;
  background-color: #1f1f1f;
  @include respond-tabletportrait {
    height: auto;
  }
  .container {
    height: 100%;
    padding: 20px 90px;
    @include respond-tabletportrait {
      height: fit-content;
    }
    .row {
      height: 100%;
      // @include respond-tabletportrait {
      //   height: fit-content;
      // }
      display: flex;
      justify-content: center;
      align-items: center;
      > .flex {
        height: fit-content;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        @include respond-tabletportrait {
          flex-wrap: wrap;
          justify-content: flex-start;
        }
        @include respond-mobile {
          justify-content: start;
        }
      }
    }
  }

  .bootstrap-select {
    @include respond-tabletportrait {
      width: 50% !important;
    }
    button {
      border: 1px solid #c9a44d;
      .caret,
      .filter-option-inner-inner {
        color: #c9a44d;
      }
      .filter-option-inner {
        &::before {
          margin-right: 10px;
          height: 20px;
          width: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          content: "";
        }
        .filter-option-inner-inner {
          font-weight: bold;
          margin-left: 25px;
        }
      }
    }
  }
  .khoi-hanh {
    .filter-option-inner::before {
      background-image: url("../image/flight.svg");
    }
    @include respond-mobile {
      width: 100% !important;
    }
  }
  .gia {
    margin-left: 20px !important;
    @include respond-tabletportrait {
      margin-left: 0 !important;
    }
    .filter-option-inner::before {
      background-image: url("../image/money.svg");
    }
    @include respond-mobile {
      margin-top: 10px;
      width: 100% !important;
    }
  }
  .date {
    @include respond-tabletportrait {
      width: 100%;
    }
    .input-group {
      &.date {
        width: 100px;
        background-color: white;
        @include respond-tabletlandscape {
          width: auto;
        }
        @include respond-tabletportrait {
          margin-top: 20px;
        }
        &.tu-ngay {
          margin-left: 20px !important;
          @include respond-tabletportrait {
            margin-left: 0 !important;
          }
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        &.den-ngay {
          margin-left: 35px;
          @include respond-tabletportrait {
            margin-left: 0;
          }
          input {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
        &::before {
          height: 20px;
          width: 20px;
          background-size: contain;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          left: 8px;
          content: "";
          background-image: url("../image/date.svg");
        }
        input {
          margin-left: 30px;
          &::placeholder {
            color: #c9a44d;
            opacity: 1; /* Firefox */
          }
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          @include respond-tabletportrait {
            width: fit-content;
          }
        }
        @include respond-tabletportrait {
          width: 50%;
          margin-right: 1px;
          border-radius: 5px;
        }
      }
    }
  }
  .so-nguoi {
    margin-left: 45px !important;
    .filter-option-inner::before {
      background-image: url("../image/money.svg");
    }
    @include respond-tabletportrait {
      margin-top: 20px;
      width: 100% !important;
      margin-left: 0 !important;
    }
    @include respond-mobile {
      margin-left: 0 !important;
    }
  }
  .bth-tim-kiem {
    margin-left: 20px !important;
    padding-left: 20px;
    padding-right: 20px;
    height: fit-content;
    color: white;
    background-color: #c9a44d;
    border: none;
    border-radius: 3px;
    @include respond-tabletportrait {
      margin-top: 20px;
      width: 100% !important;
      margin-left: 0 !important;
    }
  }
}

.slider {
  position: relative;
  margin-top: 50px;

  .carousel-inner {
    .item > div {
      height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      margin-left: -60px;
    }
  }
}

.hotel {
  overflow: hidden;
  padding: 30px 0;
  background-color: #eceff3;
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-image: url(https://i.imgur.com/l3Nbglg.png);
}

.text {
  // padding: 0px 100px;
  .title {
    text-align: start;
    font-weight: bold;
    font-size: 20px;
    padding: 0 30px;
    color: black;
    background-color: #bebaba;
    height: 40px;
    line-height: 40px;
    font-weight: 400;
  }

  .description {
    padding: 0 30px;
    margin-top: 10px;
    font-size: 15px;
    text-align: start;
    @include respond-mobile {
      padding: 20px;
    }
  }
  .item {
    .thanh {
      width: 50px;
      height: 50px;
      // background-color: red;
      
      border-radius: 50%;
      margin: auto;
    }
    h4 {
      color: black;
      font-size: 15px;
      text-align: center;
    }
  }
  .breadcrumb {
    color: black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 0;
    .breadcrumb-item {
      a {
        color: black;
        &:hover {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

.all__tours {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  background-color: #f5f5f5;

  .location-intro {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;

    .title {
      font-size: 28px;
      font-weight: bold;
      margin: 0;
    }

    .location-sort {
      margin: 0;
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: right;
      // display: flex;
      // align-items: center;

      p {
        color: #c9a44d;
        padding-top: 10px;
      }
      .location-sort-value {
        width: 100px;
        height: 25px;
        border-radius: 4px;
        margin-left: 5px;
      }
    }
  }

  .tour-cards {
    margin-bottom: 0;

    .tours-container{
      display: grid;
      grid-template-columns:25% 25% 25% 25%;

      .item {
        transform: translateY(0);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.03);
        background-color: #fff;
        transition: all 0.3s;
        border-radius: 5px;
        margin: 0 5px 10px;
        // min-height: 320px;
        .item-image {
          position: relative;
          max-height: 180px;
          border-top-right-radius: 5px;
          border-top-left-radius: 5px;
          overflow: hidden;
          .location-icon {
            position: absolute;
            left: 3%;
            top: 3%;
            color: #fff;
            z-index: 10;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &::after {
            content: "";
            position: absolute;
            z-index: 9;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
        .item-info {
          padding: 0 10px 15px;
          .meter {
            height: 14px;
            font-size: 12px;
            line-height: 14px;
            font-weight: 600;
            color: #c72320;
            margin-top: 12px;
            margin-bottom: -6px;
          }
          .name {
            color: #000;
            display: -webkit-box;
            width: 100%;
            line-height: 18px;
            max-height: 38px;
            margin-top: 12px;
            margin-bottom: 6px;
            font-size: 14px;
            font-weight: 600;
            text-align: left;
            white-space: normal;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          .price {
            font-size: 14px;
            line-height: 16px;
            color: #000;
            font-weight: bold;
            margin: 0;
          }
          .status {
            text-align: left;
            margin-top: 2px;
            line-height: 14px;
            font-size: 12px;
            color: #333;
            margin-bottom: 0;
          }
        }
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
          > * {
            text-decoration: none;
          }
        }
      }
      .btn {
        text-align: center;
        width: 100%;
        a {
          width: 320px;
          max-width: 100%;
          display: inline-block;
          margin: auto;
          text-align: center;
          padding: 10px 25px;
          border: 1px solid #333;
          color: #333;
          border-radius: 5px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    
  }
}
.all__adds {
  width: 350px;
  height: 50px;
  background: #c9a44d;
  margin: auto;
  cursor: pointer;
  p {
    line-height: 50px;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
  }
}
.related-post {
  .title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wrap-item {
    cursor: pointer;
    .item {
      .image {
        width: 100%;
      }
      .text {
        margin-top: 5px;
        text-align: center;
        font-size: 12px;
      }
      .date {
        text-align: center;
        color: #8c8c8c;
        font-size: 10px;
      }
    }
  }
}
.them--text {
  position: absolute;
  top: 60%;
  left: 26%;
  h1 {
    text-align: center;
    color: white;
  }
  p {
    text-align: center;
    color: white;
  }
}
.nv--tatcaschool {
  .tatcaschool {
    display: flex;
    justify-content: center;
    align-items: center;
    .school {
      display: flex;
      align-items: center;
      padding: 30px 20px !important;
      // margin: 0px 80px;
      margin-left: 40px;
      img {
        width: 50px !important;
        height: 50px !important;
      }
      p {
        margin-left: 5px;
        margin-top: 5px;
      }
      @include respond-mobile {
        margin-left: 0;
        text-align: center;
        padding: 30px 5px !important;
        width: 100%;
      }
    }

    .owl-nav {
      .owl-prev {
        position: absolute;
        left: -5px;
        top: 35%;
      }
      .owl-next {
        position: absolute;
        right: -5px;
        top: 35%;
      }
    }
  }
}

.navbar {
  .main-nav {
    display: none;
  }
}
:root {
  --color1: #fbbc01;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header {
  display: none !important;
  width: 100vw;
  height: 100vh;
  // background: url('https://lamaisondeli.vn/wp-content/uploads/2018/04/cover-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  // display: flex;
  // text-align: center;
  // justify-content: center;
  // align-items: center;
}
header {
  display: none;
  &::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.3);
  }
}
header {
  input {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    position: fixed;
  }
}
header {
  input {
    &:checked ~ {
      .menu-icon {
        .menu-line {
          &::before {
            transform: rotate(90deg);
            top: 0;
          }
        }
      }
    }
  }
}
header {
  input {
    &:checked ~ {
      .menu-icon {
        .menu-line {
          &::after {
            transform: rotate(90deg);
            top: 0;
          }
        }
      }
    }
  }
}
header {
  input {
    &:checked ~ {
      .menu-icon {
        .menu-line {
          transform: rotate(135deg);
          transition: 0.3s;
        }
      }
    }
  }
}
header {
  input {
    &:checked ~ {
      .menu-item {
        right: 0;
      }
    }
  }
}
.menu-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  left: 12px;
  opacity: 1;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-line {
  height: 4px;
  width: 100%;
  background: var(--color1);
  position: relative;
}
.menu-line {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--color1);
    top: -14px;
  }
}
.menu-line {
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background: var(--color1);
    top: 14px;
  }
}
.menu-item {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: -100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  transition: 0.5s;
}
.menu-item {
  li {
    line-height: 40px;
  }
}
.menu-item {
  li {
    a {
      color: var(--color1);
    }
  }
}
.header-text {
  position: absolute;
}
.header-text {
  h1 {
    font-size: 50px;
    color: var(--color1);
    margin-bottom: 20px;
  }
}
.header-text {
  a {
    padding: 15px 40px;
    background: var(--color1);
    color: #000;
    border-radius: 50px;
    font-size: 25px;
    opacity: 0.3;
    animation: headerAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}
.header-text {
  a {
    &:hover {
      color: var(--color1);
      background: transparent;
      border: 2px solid var(--color1);
    }
  }
}
@keyframes headerAnimation {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@media only screen and (max-width: 63.9375em) {
  .container-fluid {
    // display: none!important;
  }
  .flex {
    display: block;
    .date {
      input {
        width: 248px !important;
      }
    }

    .date {
      flex-direction: column;
      .input-group {
        .date input {
          width: 110px;
        }
      }
    }
  }
  .navbar {
    .main-nav {
      display: block;
      background-color: white;
      .navbar-nav {
        li {
          a {
            color: #c9a44d !important;
            // margin-right: 40px;
          }
        }
      }
    }
    header {
      display: block !important;
      height: 0px !important;
      display: flex !important;
      .menu-icon {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 12px;
        left: 12px;
        opacity: 1;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .nana {
        img {
          width: 50px;
          height: 50px;
          margin-left: 300px;
          // display: flex;
          // align-items:end;
        }
      }
      &::before {
        position: absolute;
        width: 100%;
        height: 0%;
        content: "";
        display: block;
        background: rgba(0, 0, 0, 0.3);
      }
      .menu-item {
        position: fixed;
        width: 300px;
        height: 40%;
        background: rgba(0, 0, 0, 0.7);
        top: 0;
        right: -100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        z-index: 10;
        flex-direction: column;
        transition: 0.5s;
        li {
          a {
            color: var(--color1);
            // text-align: center;
            padding-right: 80px;
          }
        }
      }
      input {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 12px;
        left: 12px;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        position: fixed;
      }
    }
  }
  .item {
    flex-direction: column;
    margin: auto;
  }
  .text {
    h1 {
      font-size: 25px;
    }
    .description {
      padding: 0px 30px;
    }
  }
  .products {
    .item {
      margin: auto;
      display: block;
    }
  }
  .container {
    // width: 350px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    .row {
      margin: auto;
      display: block;
      h1 {
        font-size: 25px;
      }
      .flex {
        margin: auto;
        display: block;
        .logo {
          margin: auto;
          display: block;
        }
        .na {
          display: flex;
          justify-content: center;
        }
        p {
          text-align: center;
        }
        .flex {
          display: flex;
          justify-content: center;
        }
        .group-image {
          justify-content: center;
          justify-items: center;
          text-align: center;
          // display: block;
          // padding: 0px 0px 0px 10px;
        }
      }
      .about {
        text-align: center;
        h4 {
          text-align: center;
        }
      }
      .follow {
        h4 {
          text-align: center;
        }
        .hung {
          display: flex;
          justify-content: center;
          a {
            padding: 15px 15px 15px 20px;
          }
        }
      }
      .info-group {
        display: block;
        margin-top: 10px;
        .vip {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .hotline {
        text-align: center;
        .phone {
          margin-top: 17px;
        }
      }
      .info-group {
        img {
          padding: 10px;
        }
      }
    }
  }
  .all__tours {
    margin-top: 10px;
    .tour {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px !important;
      margin: 0px !important;
    }
  }
  .all__adds {
    width: 332px;
    height: 50px;
    background: #c9a44d;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
  }
  .them--text {
    position: absolute;
    top: 65%;
    left: 1%;
    padding: 0px 10px;
  }
}

#faq {
  .faq {
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

    .active {
      background-color: #ccc;
      color: #fff;
    }
  }

  .faq:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
}


@media (max-width: 1024px){
  .all__tours {
    .tour-cards {
      .tours-container{
        grid-template-columns: auto auto auto;
        .item{
          // min-height: 340px;
        }
      }
    }
  }
}

@media (max-width: 600px){
  .all__tours{
    .tour-cards {
      .tours-container{
        grid-template-columns: 50% 50%;
        .item{
          // min-height: 235px;
        }
      }

    }
  }
}