footer {
  background-color: #1f1f1f;
  .row {
    padding: 30px 0;
    > .flex {
      @include respond-tabletlandscape {
        flex-wrap: wrap;
        margin: auto;
      }
      @include respond-mobile {
        width: 100% !important;
      }
    }
  }

  .title {
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
  }
  a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  .first {
    .chung-chi {
      &:last-child {
        margin-left: 5px;
        @include respond-mobile {
          margin-left: 0;
        }
      }
      margin-top: 10px;
    }
    p {
      margin-top: 10px;
      color: #fff;
      font-size: 15px;
    }
    .group-doi-tac {
      .logo-doi-tac {
        &:first-child {
          margin-left: 0;
        }
        margin-left: 3px;
      }
    }
    .group-image {
      margin-top: 5px;
      .image {
        margin-top: 10px;
        margin-right: 5px;
      }
    }
  }

  .about {
    div {
      color: white;
      font-size: 13px;
      a {
        cursor: pointer;
        line-height: 26px;
        text-decoration: none;
        color: white;
      }
    }
    h4 {
      color: #737373;
    }
  }
  .follow {
    > div {
      color: white;
      font-size: 13px;
      > div {
        margin-top: 8px;
      }
      a {
        line-height: 26px;
        img {
          margin-right: 6px;
        }
      }
    }
    h4 {
      color: #737373;
    }
  }
  .contact {
    @include respond-mobile {
      margin-top: 20px;
    }
    input {
      border: 2px solid white;
      background-color: #1f1f1f;
      height: 40px;
      &:focus {
        outline: none;
      }
    }
    .btn-dang-ki {
      margin-left: 20px !important;
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
      color: white;
      background-color: #c9a44d;
      border: none;
      border-radius: 3px;
    }
    .info-group {
      margin-top: 15px;
      img {
        margin-right: 15px;
      }
      .title {
        font-size: 17px;
        font-weight: bold;
        color: #737373;
      }
      .hotline {
        margin-left: 40px;
      }
      .phone {
        display: block;
        font-size: 13px;
        line-height: 24px;
      }
      .flex {
        @include respond-mobile {
          flex-wrap: wrap;
        }
      }
    }
  }
  .line {
    margin: 20px 0;
    height: 1px;
    background-color: #ffffff;
  }
  .copyright {
    font-size: 14px;
    color: #737373;
  }
}

.sticky-social {
  position: fixed;
  right: 0;
  top: 40%;
  z-index: 99;
  ul {
    list-style-type: none;
    margin: 0;
    li {
      background-color: #fff;
      width: fit-content;
      margin: 0;
      text-align: center;
      &.messenger {
        background-color: #007ff7;
        border-top-left-radius: 5px;
      }
      &.call {
        background-color: rgb(38, 211, 124);
        border-bottom-left-radius: 5px;
      }
      &.zalo {
        border-left: 1px solid #eee;
      }
      i {
        font-size: 16px;
        color: #fff;
      }
      img {
        width: 15px;
      }
      a {
        display: block;
        padding: 15px;
      }
    }
  }
}
