.navbar-nav {
    li {
        a {
            color: #c9a44d !important;
            img {
                width: 20px;
                height: 20px;
            }
            i {
                // padding: 0 4px !important;
                padding: 0px 5px;
            }
        }
        .hoa {
            // padding: 3px;
            color: #aa0000 !important;
            font-weight: 600;
            padding-right: 3px;
            img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }
        }
    }
    .main-nav {
        display: block;
        background-color: white;
        .navbar-nav {
            li {
                a {
                    color: #c9a44d !important;
                    // margin-right: 40px;
                }
            }
        }
    }
    header {
        display: block !important;
        height: 0px !important;
        display: flex !important;
        .menu-icon {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 12px;
            left: 12px;
            opacity: 1;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .nana {
            img {
                width: 50px;
                height: 50px;
                margin-left: 300px;
                // display: flex;
                // align-items:end;
            }
        }
        &::before {
            position: absolute;
            width: 100%;
            height: 0%;
            content: "";
            display: block;
            background: rgba(0, 0, 0, 0.3);
        }
        .menu-item {
            position: fixed;
            width: 300px;
            height: 40%;
            background: rgba(0, 0, 0, 0.7);
            top: 0;
            right: -100%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            z-index: 10;
            flex-direction: column;
            transition: 0.5s;
            li {
                a {
                    color: var(--color1);
                    // text-align: center;
                    padding-right: 80px;
                }
            }
        }
        input {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 12px;
            left: 12px;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
            position: fixed;
        }
    }
}

.navbar-fixed-top {
    margin-bottom: 0;
    .top-nav {
        .container {
            .navbar-header {
                .navbar-brand {
                    float: unset;
                    display: block;
                    padding: 0;
                    img {
                        height: 100%;
                    }
                }
            }
        }
    }
    .main-nav {
        // background-color: #c9a44d;
        display: none;
        .navbar-nav {
            width: 100%;
            position: relative;
            margin: 0;
            li {
                display: inline-block;
                // width: calc( 100% / 6);
                a {
                    color: #c9a44d !important;
                    i {
                        font-size: 21px;
                    }
                }
                &.contact-nav {
                    a {
                        display: inline-block;
                        padding: 15px 5px;
                    }
                }
                &.icon {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: fit-content;
                }
                &:first-child {
                    display: none;
                }
                &.mobile-brand {
                    a {
                        height: 50px;
                        img {
                            height: 100%;
                            width: auto;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 812px) {
    .mobile-hide{
        display: none !important;
    }
    .navbar-fixed-top {
        .main-nav {
            display: block;
            .navbar-nav {
                li {
                    width: 100%;
                    &.icon {
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        .hotline {
                            background: #fff;
                            border: 2px solid #c9a44d;
                            border-radius: 10px;
                            padding: 1px 10px;
                            color: #c9a44d;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            a {
                                margin: 0;
                                margin-left: 5px;
                                text-decoration: none;
                            }
                        }
                        a {
                            i {
                                margin-top: 2px;
                                color: #c9a44d;
                            }
                        }
                    }
                    &:first-child {
                        display: block;
                    }
                    &:not(:first-child) {
                        display: none;
                    }
                    .icon {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                    }
                }
                &.responsive {
                    position: relative;
                    li {
                        display: block;
                    }
                    a {
                        float: none;
                        display: block;
                        text-align: left;
                    }
                }
            }
        }
    }
}
