#navbar {
    top: -100%;
    transition: all 0.5s;
    &.active {
        top: 0;
    }
    .navbar-nav {
        margin: 7.5px 0 !important;
        li a img {
            width: auto;
        }
    }
    @media only screen and (max-width: 760px) {
        .navbar-nav {
            margin: 0 !important;
        }
    }
}

.tatcaenglish {
    width: 100%;
    margin: auto;
    position: relative;
    background: url(/image/BG.png) no-repeat center;
    background-size: cover;
    height: 80vh;
    filter: brightness(90%);
    .row-container {
        width: 100%;
        height: 100%;
        .row {
            width: 100%;
            margin: 0;
            height: 100%;
            .col-md-6 {
                height: 100%;
                padding: 0;
                overflow: hidden;
            }
        }
    }
    img {
        height: 500px;
        width: 100%;
        @include respond-mobile {
            height: auto;
        }
    }
    .english {
        padding: 20px 0;
        max-width: 90%;
        margin: 0 auto;
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.3);
        }
        .english1 {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            position: relative;
            .logo {
                align-self: center;
                display: inline-block;
                z-index: 99;
                h2 {
                    font-size: 28px;
                    color: #ffffff;
                    margin: 0;
                }
            }
            .main-menu-wrap {
                align-self: center;
                display: inline-block;
                ul {
                    display: none;
                    margin-top: 20px;
                    cursor: pointer;
                    li {
                        padding: 0px 20px;
                        color: #fff;
                        a {
                            color: #ffffff;
                            font-size: 12px;
                        }
                    }
                }
            }
            .sub-menu {
                display: none;
                position: absolute;
                right: 0;
                top: 100%;
                background-color: #fff;
                padding: 10px;
                &.active {
                    display: block;
                }
                li {
                    line-height: 1.5;
                    a {
                        color: #000;
                    }
                }
            }
            p {
                cursor: pointer;
                font-size: 28px;
                color: #ffffff;
                &:hover {
                    .member {
                        display: block;
                        position: absolute;
                        color: red;
                    }
                }
            }
        }
    }
    .good {
        width: 500px;
        max-width: 95%;
        margin: 20px auto;
        position: relative;
        ul {
            display: flex;
            margin-top: 20px;
            align-items: center;
            background-color: transparent;
            li {
                padding: 0px 10px;
                a {
                    color: white;
                    font-size: 12px;
                }
            }
            .fas {
                color: white;
                font-size: 10px;
            }
        }
        p {
            font-size: 14px;
            color: white;
            padding-left: 20px;
            line-height: 2;
        }
        h1 {
            color: white;
            font-size: 30px;
            line-height: 60px;
            font-weight: 600;
            padding-left: 20px;
        }
    }
    .tatcahurt {
        display: flex;
        align-items: center;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        .hurt-wrap {
            display: inline-flex;
            width: 100%;
            .hurt {
                display: block;
                .hurt1 {
                    height: 268px;
                    span {
                        color: #f1f1f1;
                        font-size: 16px;
                        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
                        text-align: center;
                        position: absolute;
                        padding-top: 7px;
                        padding-bottom: 10px;
                        width: 100%;
                        bottom: 0;
                        display: block;
                    }
                    img {
                        width: auto;
                        max-width: 100%;
                        height: auto;
                    }
                    .video-overlay {
                        position: absolute;
                        top: 50%;
                        left: 52%;
                        transform: translateX(-50%) translateY(-50%);
                        z-index: 10;
                        .play-button {
                            width: 100px;
                            height: 100px;
                            background-image: url("./images/ic_play.png");
                            background-repeat: no-repeat;
                            opacity: 0.4;
                            transition: all 0.3s ease-in;
                        }
                        &:hover {
                            .play-button {
                                opacity: 0.9;
                                cursor: pointer;
                            }
                        }
                    }
                    .videos {
                        font-size: 60px;
                        position: absolute;
                        width: 118px;
                        height: 100px;
                        top: 29%;
                        left: 39%;
                        color: white !important;
                    }
                }
            }
        }
    }
}

.container {
    max-width: 100%;
}

.tatcaschool {
    display: flex;
    justify-content: center;
    align-items: center;
    .school {
        display: flex;
        align-items: center;
        padding: 30px 0px 30px 20px !important;
        // margin: 0px 80px;
        margin-left: 40px;
        img {
            width: 50px !important;
            height: 50px !important;
            // background-image: linear-gradient(to right, #D62121, #c72c2c);
        }
        p {
            margin-left: 5px;
            margin-top: 5px;
            color: white;
            background-color: #c9a44d;
            padding: 5px;
            border-radius: 5px;
            min-height: 50px;
        }
        @include respond-mobile {
            margin-left: 0;
            text-align: center;
            padding: 30px 5px !important;
            width: 100%;
        }
    }
    .owl-nav {
        .owl-prev {
            position: absolute;
            left: -5px;
            top: 35%;
        }
        .owl-next {
            position: absolute;
            right: -5px;
            top: 35%;
        }
    }
}

.videos {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
}

.ui-datepicker {
    background-color: #fff;
}

.ui-datepicker-header {
    background-color: #616eff;
}

.ui-datepicker-title {
    color: white;
}

.ui-widget-content .ui-state-default {
    border: 0px;
    text-align: center;
    background: #fff;
    font-weight: normal;
    color: #000;
}

.ui-widget-content .ui-state-default:hover {
    border: 0px;
    text-align: center;
    background: #000;
    font-weight: normal;
    color: #fff;
}

.ui-widget-content .ui-state-active {
    border: 0px;
    background: #616eff;
    color: #fff;
}

.homehome {
    //   display: flex;
    //   justify-content: center;
    // padding: 0px 320px;
    //   margin-left: 70px;
    width: 1200px;
    margin: auto;
    max-width: 100%;
    .tatcahome {
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        //   width: 750px;
        height: 60px;
        // margin-top: 30px;
        .home1 {
            width: 10px;
            height: 60px;
            background-color: #c9a44d;
        }
        .home2 {
            h2 {
                // margin-left: 5px;
                font-size: 24px;
                // line-height: 60px;
                margin: 0 0 0 5px;
            }
        }
    }
    .homehome1 {
        p {
            font-size: 16px;
            padding: 20px 50px 0 20px;
            line-height: 1.5;
            text-align: justify;
        }
    }
    .tatcapeople {
        // border: 1px solid #E5E5E5;
        // padding: 20px 30px;
        // margin: 30px 15px;
        border: 1px solid #e5e5e5;
        padding: 20px 30px;
        margin: 48px 15px;
        border-radius: 9px;
        .tourcontent {
            .select-departure-container {
                margin-left: 0;
                margin-right: 0;
                .select-departure {
                    padding: 20px 10px;
                    .tour-price-book-form {
                        margin-left: 25px;
                        .form-group {
                            padding: 0px 7px;
                            label {
                                font-size: 13px;
                            }
                            .btn-inquiry {
                                margin-top: 24px;
                            }
                        }
                    }
                }
            }
        }
        .people {
            h2 {
                color: #000000;
                // font-family: Roboto;
                font-style: normal;
                font-weight: bold;
            }
            p {
                margin-top: 20px;
                color: #000000;
                font-size: 20px;
            }
            .people1 {
                display: grid;
                grid-template-columns: auto;
                &.long-content {
                    grid-template-columns: auto;
                    .input-wrap {
                        text-align: left;
                    }
                }
                .input-wrap {
                    text-align: left;
                    input {
                        display: none;
                        &:checked {
                            + label {
                                .seat {
                                    background-color: #78a962;
                                }
                            }
                        }
                    }
                    label {
                        background-color: #fff;
                        border-radius: 8px;
                        padding: 5px 0 5px 10px;
                        box-shadow: 1px 3px 6px #ccc;
                        overflow: hidden;
                        &:hover {
                            cursor: pointer;
                        }
                        .text {
                            color: #000;
                            font-size: 16px;
                            text-align: center;
                            line-height: 1.5;
                            padding: 5px;
                        }
                        .seat {
                            color: #fff;
                            background-color: #eb5757;
                            text-transform: uppercase;
                            padding: 15px;
                        }
                    }
                }
            }
            .people2 {
                display: flex;
                align-items: center;
                p {
                    color: #000000;
                    font-size: 20px;
                }
                .fas {
                    margin-left: 5px;
                    color: #000000;
                    font-size: 20px;
                    margin-top: 15px;
                }
            }
            .peoplepeople {
                display: flex;
                // margin: -20px -10px;
                padding-bottom: 30px;
                .people3 {
                    cursor: pointer;
                    // padding: 10px 30px;
                    // width: 174px;
                    // height: 28px;
                    // background-color: #C9A44D;
                    border-radius: 8px;
                    // margin-top: 20px;
                    p {
                        border-radius: 8px;
                        color: #2b2b2b;
                        font-size: 16px;
                        text-align: center;
                        line-height: 30px;
                        box-shadow: 2px 2px 2px 2px #aaa;
                        padding: 5px 10px;
                    }
                    .people4 {
                        margin: 0 20px;
                        border-radius: 5px;
                        position: relative;
                        &.tourlinks {
                            &.active {
                                background-color: #c9a44d;
                                p {
                                    color: #fff;
                                }
                            }
                        }
                        .tool-tip {
                            display: none;
                            z-index: 9;
                        }
                        p:hover + .tool-tip {
                            display: block;
                            background: #d7d7d7d7;
                            padding: 3px;
                            border-radius: 5px;
                            position: absolute;
                            top: -30px;
                            right: -100px;
                            left: 86px;
                        }
                    }
                }
            }
            .people5 {
                margin-top: 30px;
                background-color: #f9f9f9;
                // height: 40px;
                // display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                font-size: 10px;
                padding: 0px 30px;
                &.table {
                    tbody {
                        tr {
                            td {
                                vertical-align: middle;
                                font-size: 14px;
                                del {
                                    color: red;
                                }
                            }
                            &:nth-child(even) {
                                background-color: #fff;
                            }
                        }
                    }
                }
                p {
                    font-size: 15px;
                    padding-bottom: 10px;
                }
                h4 {
                    font-size: 15px;
                    padding-bottom: 2px;
                }
                .people6 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                    .next {
                        width: 20px;
                        height: 20px;
                        background-color: #c9a44d;
                        cursor: pointer;
                        span {
                            font-size: 20px;
                            line-height: 20px;
                            padding-left: 6px;
                            color: #fff;
                        }
                    }
                    .next1 {
                        margin: 0px 5px;
                        input {
                            // border-radius: 3px;
                            width: 30px;
                            height: 30px;
                            font-size: 18px;
                            line-height: 20px;
                            padding-left: 3px;
                        }
                    }
                    .prev {
                        cursor: pointer;
                        // margin-left: 2px;
                        width: 20px;
                        height: 20px;
                        background-color: #c9a44d;
                        span {
                            font-size: 20px;
                            line-height: 20px;
                            padding-left: 4px;
                            color: #fff;
                        }
                    }
                    input {
                        margin: 0 5px;
                        padding-left: 5px;
                        width: 30px;
                    }
                }
            }
            .people7 {
                display: flex;
                align-items: center;
                justify-content: space-between;
                del {
                    color: red;
                }
                input {
                    width: 200px;
                    color: #3d3d3d;
                    font-weight: 400;
                    font-size: 20px;
                    height: 60px;
                    padding: 5px 48px;
                }
                .people8 {
                    width: 300px;
                    height: 60px;
                    background-color: #c9a44d;
                    border-radius: 8px;
                    padding-top: -20px;
                    cursor: pointer;
                    p {
                        text-align: center;
                        font-weight: 500;
                        font-size: 20px;
                        color: #ffffff;
                        text-transform: uppercase;
                        line-height: 1;
                    }
                }
            }
            .tourcontent {
                display: none;
                .location-wrap {
                    display: none;
                }
                .nav-pills {
                    .nav-item {
                        color: #fff;
                        background-color: #eb5757;
                        text-transform: uppercase;
                        border-radius: 8px;
                        box-shadow: 1px 3px 6px #ccc;
                        &.active {
                            background-color: #78a962;
                        }
                    }
                }
                .tat_ca_nuoc {
                    margin-top: 15px;
                    .nuoc {
                        display: none;
                        img {
                            width: 100%;
                        }
                    }
                    .nuoc_1 {
                        h3 {
                            font-size: 15px;
                            font-weight: 600;
                        }
                        .nuoc_2 {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            .nuoc_3 {
                                width: 160px;
                                display: flex;
                                align-items: center;
                                img {
                                    width: 38px;
                                    height: 12px;
                                    padding-top: 2px;
                                }
                                p {
                                    font-size: 15px;
                                    color: #767984;
                                    font-size: 400;
                                    padding-left: 10px;
                                }
                            }
                        }
                    }
                }
                .tour-policy {
                    font-size: 16px;
                }
            }
        }
    }
    .tour_0 {
        display: none;
    }
    .tour_1 {
        display: none;
    }
    .drem {
        border: 2px solid #000000;
        padding: 0px 40px 20px 40px;
        border-radius: 9px;
        box-shadow: 1px 1px 1px 1px soild #000000;
        text-align: left;
        overflow-x: auto;
        &.bar-container {
            @include respond-mobile {
                padding: 0;
                border: none;
            }
        }
        .progressbar {
            counter-reset: step;
            padding: 83px 0;
            padding-bottom: 20px;
            /* New */
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include respond-mobile {
                padding: 0;
            }
            li {
                list-style: none;
                position: relative;
                text-align: center;
                @include respond-mobile {
                    text-align: inherit;
                    margin: 10px 0;
                }
                /* New */
                display: table-cell;
                margin: 0 1px;
                width: 100%;
                &.active {
                    &:before {
                        background: #4f4f4f;
                    }
                    .tab {
                        @include respond-mobile {
                            background-color: #c9a44d !important;
                            color: #fff !important;
                            padding: 0;
                            display: block;
                        }
                        &:before {
                            content: "";
                            background-image: url("/image/plane-solid.svg");
                            background-repeat: no-repeat;
                            width: 100%;
                            height: 80%;
                            position: absolute;
                            top: -61px;
                            @media only screen and (max-width: 769px) {
                                height: 50px;
                                top: -49px;
                            }
                            @include respond-mobile {
                                display: none;
                            }
                        }
                    }
                }
                .tab {
                    cursor: pointer;
                    background-color: #f2f2f2;
                    color: #828282;
                    margin-top: 4px;
                    padding: 8px 20px;
                    font-size: 20px;
                    @include respond-mobile {
                        background-color: #c4c4c4 !important;
                        color: #fff !important;
                        // position: absolute;
                        text-align: center;
                        border-radius: 7px;
                        margin: 0 5px;
                        padding: 0;
                        display: block;
                    }
                }
                &:before {
                    background: #bdbdbd;
                    border-radius: 50%;
                    color: #bebebe;
                    content: "";
                    display: block;
                    font-weight: 700;
                    height: 23px;
                    line-height: 27px;
                    margin: 0 auto 10px;
                    text-align: center;
                    width: 23px;
                    @include respond-mobile {
                        display: none;
                    }
                }
                &:after {
                    background: #979797;
                    content: "";
                    height: 3px;
                    left: 50%;
                    position: absolute;
                    top: 11px;
                    width: 100%;
                    z-index: -1;
                    @include respond-mobile {
                        display: none;
                    }
                }
                &:last-child:after {
                    content: none;
                }
            }
            .owl-nav {
                .owl-prev {
                    position: absolute;
                    left: -5px;
                    top: 35%;
                }
                .owl-next {
                    position: absolute;
                    right: -5px;
                    top: 35%;
                }
            }
        }
        .drem1 {
            h2 {
                text-align: left;
            }
        }
    }
    .drem {
        border: 2px solid #000000;
        margin: 20px 15px;
        padding: 5px 30px 20px 30px;
        border-radius: 9px;
        box-shadow: 1px 1px 1px 1px soild #000000;
        .drem1 {
            h2 {
                color: #000000;
                font-size: 24px;
                text-align: left;
                font-weight: bold;
            }
            .drem2 {
                img {
                    padding: 10px 0;
                    width: 210px;
                    // height: 300px;
                    &:hover {
                        transform: none !important;
                    }
                }
            }
            &.tabcontent {
                display: none;
                .content {
                    // overflow: hidden;
                    // max-height: 230px;
                    transition: all 0.5s ease-in-out;
                    &.expand {
                        max-height: unset;
                        transition: all 0.5s ease-in-out;
                    }
                    img {
                        width: 100%;
                    }
                    img:hover {
                        transform: scale(1.05);
                    }
                    h3 {
                        font-size: 20px;
                    }
                }
                .watch-more {
                    padding: 10px;
                    background-color: #c9a44d;
                    margin-top: 10px;
                    border-radius: 10px;
                    color: #fff;
                    border: none;
                    min-width: 150px;
                    &:hover {
                        outline: none;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                p {
                    font-size: 16px;
                }
            }
        }
    }
    .pro {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pro1 {
            h2 {
                color: #000000;
                font-weight: bold;
                font-size: 18px;
            }
        }
        .pro2 {
            display: flex;
            align-items: center;
            // justify-content: center;
            .fas {
                color: #c9a44d;
            }
            p {
                color: #8c8c8c;
                font-size: 12px;
                padding-top: 15px;
                padding-left: 5px;
            }
            .pro3 {
                // color: #78A962;
                display: flex;
                // width: 40px;
                // height: 30px;
                p {
                    color: white;
                    color: #78a962;
                    font-size: 12px;
                    text-align: center;
                    line-height: 30px;
                    margin-left: 10px;
                    padding-top: -10px;
                }
            }
            span {
                color: #78a962;
                padding-left: 10px;
            }
        }
    }
    .tatcalove {
        .love1 {
            display: flex;
            align-items: center;
            @include respond-mobile {
                display: block;
            }
            h5 {
                color: #007ae9;
            }
            .love2 {
                display: flex;
                margin-left: 10px;
                .love3 {
                    cursor: pointer;
                    width: 88px;
                    height: 28px;
                    border: 1px solid #8c8c8c;
                    border-radius: 6px;
                    margin: 0px 5px;
                    p {
                        text-align: center;
                        line-height: 28px;
                        color: #007ae9;
                    }
                }
            }
        }
        .love4 {
            margin-top: 25px;
            p {
                font-size: 12px;
            }
        }
        .love5 {
            .love6 {
                display: flex;
                align-items: center;
                img {
                    width: 66%;
                    height: 330px;
                }
                .love7 {
                    flex-direction: column;
                    margin-left: 5px;
                    img {
                        padding: 5px 12px;
                        width: 100%;
                        height: 170px;
                    }
                }
            }
        }
    }
    .koko {
        display: flex;
        margin-left: -35px;
        align-items: center;
        justify-content: center;
        .koko1 {
            width: 33%;
            img {
                width: 100%;
                height: 100%;
            }
        }
        .koko2 {
            width: 66%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .tatcalist {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 95%;
        margin: 20px auto;
        @include respond-mobile {
            display: block;
            text-align: center;
        }
        .list {
            width: 150px;
            height: 40px;
            border: 1px solid #8c8c8c;
            border-radius: 4px;
            cursor: pointer;
            @include respond-mobile {
                display: inline-block;
                margin: 5px 0;
            }
            p {
                text-align: center;
                line-height: 40px;
                color: #9e9e9e;
            }
        }
        .list1 {
            cursor: pointer;
            width: 150px;
            height: 40px;
            // border: 1px solid #8C8C8C;
            border-radius: 4px;
            background-color: #c9a44d;
            p {
                text-align: center;
                line-height: 40px;
                color: #ffffff;
            }
        }
    }
    .tatcacut {
        border: 1px solid #9e9e9e;
        border-radius: 4px;
        padding: 20px;
        max-width: 95%;
        margin: 10px auto;
        .cut {
            h5 {
                color: #000000;
                font-size: 14px;
            }
            p {
                color: #000000;
                font-size: 14px;
            }
            &.privacycontent {
                display: none;
                .privacy-inner {
                    overflow: hidden;
                    max-height: 230px;
                    transition: all 0.5s ease-in-out;
                    &.expand {
                        max-height: unset;
                        transition: all 0.5s ease-in-out;
                    }
                    p {
                        text-align: justify;
                    }
                }
                .watch-more-privacy {
                    padding: 10px;
                    background-color: #c9a44d;
                    margin-top: 20px;
                    border-radius: 10px;
                    color: #fff;
                    border: none;
                    min-width: 150px;
                    &:hover {
                        outline: none;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
    .tatcacoppy {
        .watch-more-comment {
            padding: 10px;
            background-color: #c9a44d;
            margin-top: 10px;
            border-radius: 10px;
            color: #fff;
            border: none;
            display: block;
            margin: auto;
            &:hover {
                outline: none;
            }
            &:focus {
                outline: none;
            }
        }
        .coppy {
            .coppy1 {
                display: flex;
                align-items: center;
                .coppy2 {
                    margin: 0px 12px 0px 0px;
                    width: 48px;
                    height: 48px;
                    background-size: cover;
                    border-radius: 50%;
                    position: relative;
                    z-index: 1;

                    .avatar {
                        display: block;
                        border-radius: 50%;
                        overflow: hidden;
                        position: relative;
                        background-color: rgb(242, 242, 242);
                        height: 48px;
                        img {
                            width: 100%;
                        }

                        .has-character {
                            display: inline-block;
                            line-height: 48px;
                            font-size: 140%;
                            font-weight: 500;
                            color: rgb(153, 153, 153);
                            text-align: center;
                            width: 48px;
                        }
                    }


                }
                .coppy3 {
                    margin-left: 10px;
                    h3 {
                        font-size: 14px;
                    }
                    .coppy4 {
                        display: flex;
                        .fas {
                            color: #c9a44d;
                            font-size: 10px;
                        }
                        p {
                            padding-left: 5px;
                            color: #78a962;
                            font-size: 10px;
                        }
                        span {
                            color: #78a962;
                            font-size: 10px;
                            padding-left: 5px;
                        }
                    }
                }
            }
            .coppy6 {
                p {
                    font-size: 14px;
                    color: #000000;
                    padding-left: 80px;
                }
            }
            .coppy7 {
                padding-left: 70px;
                display: flex;
                padding-bottom: 10px;
                overflow: hidden;
                .coppy8 {
                    margin: 0px 10px;
                    width: 100px;
                    height: 100px;
                    background-color: #c4c4c4;
                    @include respond-mobile {
                        height: 40px;
                    }
                }
                .fancybox {
                    margin: 0 10px;
                }
                .owl-nav {
                    .owl-prev {
                        position: absolute;
                        left: 70px;
                        top: 40%;
                    }
                    .owl-next {
                        position: absolute;
                        right: 0;
                        top: 40%;
                    }
                }
                img {
                    margin: 0 5px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            #lightbox {
                position: fixed;
                z-index: 1000;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.8);
                display: none;
                &.active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .tatcamill {
        margin: 10px 0px;
        display: flex;
        justify-content: space-between;
        .mill1 {
            // width: 232px;
            // height: 280px;
            border-radius: 3px;
            border: 1px solid #c4c4c4;
            box-shadow: 1px 1px 1px 1px #aaa;
            img {
                width: 230px;
                height: 180px;
            }
            h3 {
                font-size: 15px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 1.5;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
            .mill11 {
                padding: 0px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .mill2 {
                    display: flex;
                    align-items: center;
                    .mill22 {
                        width: 25px;
                        height: 20px;
                        background-color: #32a636;
                        border-radius: 4px;
                        p {
                            color: #ffffff;
                            line-height: 20px;
                            text-align: center;
                        }
                    }
                    .mill222 {
                        padding-top: 10px;
                        padding-left: 5px;
                        p {
                            font-size: 10px;
                            color: #8c8c8c;
                        }
                    }
                }
                .mill3 {
                    .mill33 {
                        p {
                            color: #000000;
                            font-size: 12px;
                        }
                    }
                    p {
                        color: #000000;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .tatcamill11 {
        max-width: 95%;
        margin: 20px auto;
        //   display: none !important;
        //   justify-content: space-between;
        .mill1 {
            // width: 232px;
            // height: 280px;
            margin-bottom: 10px;
            margin-top: 10px;
            border-radius: 3px;
            border: 1px solid #c4c4c4;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
            img {
                // width: 230px;
                // height: 180px;
            }
            h3 {
                font-size: 15px;
                text-align: center;
            }
            .mill11 {
                padding: 0px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .mill2 {
                    display: flex;
                    align-items: center;
                    .mill22 {
                        width: 25px;
                        height: 20px;
                        background-color: #32a636;
                        border-radius: 4px;
                        p {
                            color: #ffffff;
                            line-height: 20px;
                            text-align: center;
                        }
                    }
                    .mill222 {
                        padding-top: 10px;
                        padding-left: 5px;
                        p {
                            font-size: 10px;
                            color: #8c8c8c;
                        }
                    }
                }
                .mill3 {
                    .mill33 {
                        p {
                            color: #000000;
                            font-size: 12px;
                        }
                    }
                    p {
                        color: #000000;
                        font-size: 12px;
                    }
                }
            }
            &:hover {
                transform: translateY(-4px);
                box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
                > * {
                    text-decoration: none;
                }
            }
        }
    }
    .cool {
        position: relative;
        display: flex;
        // justify-content: center;
        width: 318px;
        height: 499px;

        .img-wrap {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 0%;
                left: 0%;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                z-index: 9;
            }
        }
        @include respond-mobile {
            display: none;
        }
        img {
            // max-width: 100%;
            // padding-left: 46px;
            object-fit: cover;
            position: relative;
            width: 318px;
            height: 499px;
        }
        .cool1 {
            z-index: 9;
            .cool2 {
                position: absolute;
                top: 20%;
                left: -54px;
                width: 170px;
                // height: 45px;
                background-color: #eb5757;
                display: block;
                padding: 10px 15px;
                align-items: center;

                .info {
                    display: table;
                    width: 100%;
                    margin-bottom: 0;
                    span {
                        color: #ffffff;
                        font-size: 14px;
                        display: table-cell;
                        vertical-align: middle;
                        margin: 0;
                    }
                    p {
                        color: #ffffff;
                        font-size: 24px;
                        font-weight: 800;
                        display: table-cell;
                        vertical-align: middle;
                        margin: 0;
                    }
                }
                .additional-price {
                    p {
                        margin: 0;
                    }
                    .sale-price {
                        font-size: 12px;
                        color: #fff;
                    }
                    .default-price {
                        font-size: 8px;
                    }
                }
            }
            .cool3 {
                p {
                    color: white;
                    font-weight: bold;
                    font-size: 21px;
                    position: absolute;
                    top: 40%;
                    left: 0px;
                    text-align: center;
                }
            }
            .cool4 {
                position: absolute;
                top: 69%;
                left: 19px;
                img {
                    color: #ffffff;
                    text-align: center;
                    width: 50px;
                }
                p {
                    color: white;
                    font-size: 15px;
                }
            }
            .cool5 {
                position: absolute;
                top: 65%;
                left: 110px;
                p {
                    color: #ffffff;
                    font-size: 13px;
                    text-align: right;
                    line-height: 2;
                }
            }
            .cool6 {
                width: 320px;
                height: 50px;
                background-color: #c9a44d;
                position: absolute;
                bottom: 0;
                left: -2px;
                a {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 50px;
                    text-align: center !important;
                    display: block;
                }
            }
            .cool7 {
                width: 320px;
                height: 50px;
                background-color: #f6f6f6;
                position: absolute;
                top: 90%;
                left: -2px;
                display: flex;
                align-items: center;
                justify-content: center;
                p {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 13px;
                    text-align: center !important;
                    color: #c9a44d;
                }
            }
        }
    }
    .tatcathuy {
        // position: fixed;
        // overflow: hidden;
        // top: 20%;
        // display: block;
        .thuy {
            .thuy1 {
                width: 317px;
                height: 50px;
                background-color: #c9a44d;
                margin-left: 0px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                padding: 0px 20px;
                .fas {
                    color: #ffffff;
                    line-height: 50px;
                }
                h2 {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 20px;
                    padding-left: 10px;
                    padding-bottom: 8px;
                }
            }
            .thuy2 {
                width: 317px;
                background-color: #f6f6f6;
                margin-left: 1px;
                padding: 20px;
                .thuy3 {
                    display: flex;
                    line-height: 80px;
                    margin-top: -20px;
                    .fas {
                        color: #c9a44d;
                        line-height: 50px;
                    }
                    h2 {
                        color: #c9a44d;
                        font-weight: 500;
                        font-size: 15px;
                        margin-left: 10px;
                        margin-bottom: 8px;
                    }
                    a {
                        display: flex;
                        align-items: center;
                    }
                }
                .thuy3:hover {
                    a {
                        text-decoration: none;
                        h2 {
                            border-bottom: 2px solid #c9a44d;
                        }
                    }
                }
            }
        }
    }
}

.section-6 {
    .comment-links {
        list-style: none;
        margin: 20px auto;
        max-width: 95%;
        li {
            display: inline-block;
            .comment-link {
                cursor: pointer;
                border-radius: 4px;
                background-color: #fff;
                border: 1px solid #8c8c8c;
                color: #8c8c8c;
                line-height: 1;
                margin: 0;
                padding: 10px 20px;
                text-align: center;
                &.active {
                    background-color: #c9a44d;
                    color: #fff;
                }
            }
        }
        .form-control {
            width: 130% !important;
        }
        #tourReviewFormSubmit {
            float: right;
        }
    }
    .comment-wrap {
        display: none;
        max-width: 95%;
        margin: 0 auto;
        .comment-area {
            .coppy4 {
                margin: 10px 0;
                .fa-star {
                    color: #eee;
                    // &:hover{
                    //     color: #C9A44D;
                    // }
                }
            }
            button {
                display: block;
                margin-top: 10px;
                margin-left: auto;
                border-radius: 5px;
                background-color: #c9a44d;
                color: #fff;
                border: none;
                padding: 10px 15px;
            }
        }
    }
}

.sticky-mobile {
    // display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #c9a44d;
    .sticky-content {
        display: table;
        width: 98%;
        margin-right: auto;
        margin-left: auto;
        .tour-info {
            width: 60%;
            display: table-cell;
            vertical-align: middle;
            p {
                margin: 0;
            }
            .price-wrap {
                display: table;
                width: 100%;
                .default-price {
                    display: table-cell;
                    vertical-align: middle;
                    color: #000;
                    font-size: 14px;
                }
                .sale-price {
                    display: table-cell;
                    vertical-align: middle;
                    color: red;
                    font-size: 18px;
                    font-weight: bold;
                }
            }
            .person {
                font-size: 14px;
                color: #eb5757;
                // font-weight: bold;
            }
        }
        .click-to-buy {
            width: 40%;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            a {
                padding: 15px 20px;
                background-color: #c9a44d;
                color: #fff;
                font-size: 16px;
                border-radius: 5px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .homehome1 {
        p {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    .tour_0 {
        display: none;
    }
    .tour_1 {
        display: none;
    }
    .mobile-hide {
        display: none;
    }
    .tatcamill {
        display: none !important;
    }
    .tatcaenglish {
        height: auto;
        .english {
            .english1 {
                display: block;
                .logo {
                    display: block;
                }
                .main-menu-wrap {
                    ul {
                        li {
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        .good {
            .breadcrumb {
                display: none;
            }
            h2 {
                font-size: 24px;
                line-height: 2;
                color: red !important;
            }
        }
    }
    .cool {
        display: none !important;
    }
    .tatcathuy {
        display: none !important;
    }
    .homehome {
        display: block;
        justify-content: center;
        margin-left: 0px;
        .row {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .tatcahome {
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            //   width: 250px;
            height: 60px;
            margin-top: 30px;
            .home2 {
                h2 {
                    margin-left: 5px;
                    font-size: 18px;
                    line-height: 60px;
                }
            }
        }
        .drem {
            .drem1 {
                .drem2 {
                    img {
                        width: 210px;
                        display: inline-block;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
                .content {
                    p {
                        text-align: justify;
                    }
                }
            }
        }
        .tatcamill11 {
            display: block !important;
            .mill1 {
                display: block !important;
                // width: 232px;
                // height: 280px;
                border-radius: 3px;
                border: 1px solid #c4c4c4;
                box-shadow: 1px 1px 1px 1px #aaa;
                margin: auto;
                min-height: 280px;
            }
        }
        .tatcapeople {
            .people {
                .peoplepeople {
                    .people3 {
                        cursor: pointer;
                        p {
                            border-radius: 8px;
                            color: #2b2b2b;
                            font-size: 12px;
                            text-align: center;
                            line-height: 30px;
                            box-shadow: 2px 2px 2px 2px #aaa;
                        }
                    }
                }
                .tourcontent {
                    .people1 {
                        grid-template-columns: auto;
                        &.long-content {
                            grid-template-columns: auto;
                        }
                        .input-wrap {
                            label {
                                .text {
                                    font-size: 14px;
                                }
                                .seat {
                                    padding: 10px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
                // .people7 {
                //     input {
                //         color: #3D3D3D;
                //         font-weight: 400;
                //         font-size: 17px;
                //         width: 100px;
                //         padding: 5px;
                //     }
                //     .people8 {
                //         width: 100px;
                //         height: 35px;
                //         background-color: #C9A44D;
                //         border-radius: 8px;
                //         cursor: pointer;
                //         margin-top: 8px;
                //         p {
                //             text-align: center;
                //             font-weight: 500;
                //             font-size: 16px;
                //             color: #FFFFFF;
                //             text-transform: uppercase;
                //             margin-top: 9px;
                //         }
                //     }
                // }
            }
        }
        .pro {
            display: block;
            align-items: center;
            justify-content: space-between;
            .pro2 {
                p {
                    color: #8c8c8c;
                    font-size: 12px;
                    padding-top: 15px;
                    padding-left: 23px;
                }
                span {
                    color: #78a962;
                    padding-left: 19px;
                }
                .pro3 {
                    p {
                        color: #78a962;
                        font-size: 12px;
                        text-align: center;
                        line-height: 30px;
                        margin-left: -9px;
                    }
                }
            }
        }
        .tatcalove {
            .love5 {
                .love6 {
                    display: block;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .love7 {
                        display: flex !important;
                        flex-direction: row !important;
                        margin-left: -9px !important;
                        img {
                            width: 50%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .koko {
            display: none;
        }
    }
    .tatcaschool {
        display: block !important;
        // margin-left: -30px;
        justify-content: center;
        align-items: center;
        .school {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            img {
                margin: auto;
            }
        }
    }
    .videos {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 340px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 680px) {
    .homehome {
        .tatcapeople {
            .people {
                .peoplepeople {
                    .people3 {
                        .people4 {
                            margin: 0 5px;
                        }
                    }
                }
                .people5 {
                    display: block;
                    height: auto;
                    padding: 0;
                }
                .people7 {
                    display: block;
                    text-align: center;
                    .people8 {
                        margin: 10px auto;
                        p {
                            margin: 0;
                            line-height: 35px;
                        }
                    }
                }
                .people5 {
                    h4 {
                        display: inline-block;
                        margin-right: 10px;
                    }
                    p {
                        display: inline-block;
                    }
                }
            }
        }
    }
    .bao {
        display: none;
    }

    .sticky-mobile {
        .sticky-content {
            .tour-info {
                .price-wrap {
                    .default-price {
                        font-size: 11px;
                    }
                    .sale-price {
                        font-size: 16px;
                    }
                }
                .person {
                    font-size: 11px;
                    .mobile-hidden {
                        display: none;
                    }
                }
            }
            .click-to-buy {
                a {
                    padding: 10px 15px;
                    font-size: 14px;
                }
            }
        }
    }
}

#myModal {
    /* The Modal (background) */
    &.modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        .modal-wrap {
            display: table;
            height: 100%;
            margin: auto;
            width: 300px;
            .modal-container {
                display: table-cell;
                vertical-align: middle;
                .modal-content {
                    position: relative;
                    background-color: #fefefe;
                    margin: auto;
                    padding: 0;
                    width: 500px;
                    max-width: 90%;
                    overflow: hidden;
                }
            }
        }
    }
    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }
}

#imageModal {
    /* The Modal (background) */
    &.modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        .modal-wrap {
            display: table;
            height: 100%;
            margin: auto;
            width: 300px;
            .modal-container {
                display: table-cell;
                vertical-align: middle;
                .modal-content {
                    position: relative;
                    background-color: #fefefe;
                    margin: auto;
                    padding: 0;
                    width: 500px;
                    max-width: 90%;
                    overflow: hidden;
                }
            }
        }
    }
    /* The Close Button */
    .close {
        color: white;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #999;
        text-decoration: none;
        cursor: pointer;
    }
}

// footer{
//     margin-bottom: 50px;
// }
#back-to-top {
    position: fixed;
    right: 5px;
    bottom: 60px;
    z-index: -1;
    padding: 10px 14px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #eee;
    transition: all 0.5s;
    opacity: 0;
    &.active {
        opacity: 1;
        z-index: 99;
    }
    &:hover {
        cursor: pointer;
        background-color: #c9a44d;
        color: #fff;
        border-color: #c9a44d;
    }
}

.sticky-social {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 99;
    ul {
        list-style-type: none;
        margin: 0;
        li {
            background-color: #fff;
            width: fit-content;
            margin: 0;
            text-align: center;
            &.messenger {
                background-color: #007ff7;
                border-top-left-radius: 5px;
            }
            &.call {
                background-color: rgb(38, 211, 124);
                border-bottom-left-radius: 5px;
            }
            &.zalo {
                border-left: 1px solid #eee;
            }
            i {
                font-size: 16px;
                color: #fff;
            }
            img {
                width: 15px;
            }
            a {
                display: block;
                padding: 15px;
            }
        }
    }
}

.section-4 {
    .container {
        height: 500px;
        overflow: hidden;
        max-width: 95%;
        margin: auto;
        padding: 0 !important;
        &.expand {
            height: auto;
        }
    }
    .watch-more-image {
        padding: 10px;
        background-color: #c9a44d;
        margin-top: 10px;
        border-radius: 10px;
        color: #fff;
        border: none;
        display: block;
        margin: auto;
        min-width: 150px;
        &:focus {
            outline: none;
        }
        &:hover {
            outline: none;
        }
        margin-top: 20px;
    }
}

@media (max-width: 680px) {
    .homehome {
        .tatcapeople {
            max-width: 90%;
            margin: 30px auto;
            border: none;
            padding: 0;
            #tour-2 {
                .tat_ca_nuoc {
                    .nuoc {
                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                    .nuoc_1 {
                        h3 {
                            font-size: 9px;
                            font-weight: 600;
                        }
                        .nuoc_2 {
                            display: block;
                            align-items: center;
                            justify-content: start;
                            // position: absolute;
                            // top: 22%;
                            // left: 56%;
                            img {
                                width: 40px;
                                height: 20px;
                            }
                            .nuoc_3 {
                                width: 160px;
                                display: flex;
                                align-items: center;
                                height: 55px;
                            }
                        }
                    }
                }
                .tour_0 {
                    display: none;
                }
                .tour_1 {
                    display: none;
                }
            }
        }
        .tatcacut {
            max-width: 90%;
            margin: 20px auto;
        }
        .tatcamill11 {
            max-width: 90%;
            margin: 20px auto;
        }
        .drem {
            max-width: 90%;
            margin: 20px auto;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .section-4 {
        .container {
            max-width: 90%;
        }
    }
    .section-6 {
        .comment-links {
            max-width: 90%;
            margin: 20px auto;
        }
        .comment-wrap {
            max-width: 90%;
            margin: 10px auto;
        }
        // .form-control {
        //     width: 130% !important;
        // }
        #tourReviewFormSubmit {
            float: right;
        }
    }
    #myModal.modal .modal-wrap .modal-container .modal-content {
        margin-left: 0;
    }
    #imageyModal.modal .modal-wrap .modal-container .modal-content {
        margin-left: 0;
    }
    .col-md-8 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .videos {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 340px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .tour_0 {
        display: none;
    }
    .tour_1 {
        display: none;
    }
    .mobile-hide {
        display: none;
    }
    .tatcamill {
        display: none !important;
    }
    .tatcaenglish {
        height: auto;
        .english {
            .english1 {
                display: block;
                .logo {
                    display: block;
                }
                .main-menu-wrap {
                    ul {
                        li {
                            padding: 0 5px;
                        }
                    }
                }
            }
        }
        .good {
            .breadcrumb {
                display: block !important;
            }
            h2 {
                font-size: 24px;
                line-height: 2;
            }
        }
    }
    .tatcathuy {
        // position: fixed;
        // overflow: hidden;
        // top: 20%;
        // display: block;
        .thuy {
            .thuy1 {
                width: 273px;
                height: 50px;
                background-color: #c9a44d;
                margin-left: 45px;
                margin-top: 20px;
                display: flex;
                align-items: center;
                padding: 0px 20px;
                .fas {
                    color: #ffffff;
                    line-height: 50px;
                }
                h2 {
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 20px;
                    padding-left: 10px;
                    padding-bottom: 8px;
                }
            }
            .thuy2 {
                width: 273px;
                // height: 300px;
                background-color: #f6f6f6;
                margin-left: 45px;
                // margin-top: 20px;
                padding: 20px;
                .thuy3 {
                    display: flex;
                    line-height: 80px;
                    margin-top: -20px;
                    .fas {
                        color: #c9a44d;
                        line-height: 50px;
                    }
                    h2 {
                        color: #c9a44d;
                        font-weight: 500;
                        font-size: 15px;
                        padding-left: 10px;
                        padding-bottom: 8px;
                    }
                    a {
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
    // .cool {
    //     position: relative;
    //     display: flex;
    //     // justify-content: center;
    //     @include respond-mobile {
    //         display: none;
    //     }
    //     img {
    //         max-width: 100%;
    //     }
    //     .cool1 {
    //         .cool2 {
    //             position: absolute;
    //             top: 20%;
    //             left: 12px;
    //             width: 170px;
    //             height: 45px;
    //             background-color: #EB5757;
    //             display: flex;
    //             padding: 0px 20px;
    //             align-items: center;
    //             justify-content: space-between;
    //             span {
    //                 color: #FFFFFF;
    //                 font-size: 14px;
    //                 line-height: 50px;
    //             }
    //             p {
    //                 color: #FFFFFF;
    //                 font-size: 18.0177px;
    //                 font-weight: 800;
    //                 line-height: 50px;
    //                 padding-top: 8px;
    //             }
    //         }
    //         .cool3 {
    //             p {
    //                 color: #FFFFFF;
    //                 font-weight: bold;
    //                 font-size: 20px !important;
    //                 position: absolute;
    //                 top: 40% !important;
    //                 left: 40px !important;
    //                 text-align: center;
    //                 width: 220px !important;
    //             }
    //         }
    //         .cool4 {
    //             position: absolute;
    //             top: 66%;
    //             left: 55px;
    //             img {
    //                 color: #FFFFFF;
    //                 text-align: center;
    //                 width: 50px;
    //             }
    //             p {
    //                 color: #FFFFFF;
    //                 font-size: 15px;
    //                 // margin-left: -30px;
    //             }
    //         }
    //         .cool5 {
    //             position: absolute;
    //             top: 65%;
    //             left: 63px !important;
    //             p {
    //                 color: #FFFFFF;
    //                 font-size: 13px;
    //                 text-align: right;
    //                 line-height: 2;
    //             }
    //         }
    //         .cool6 {
    //             width: 236px !important;
    //             height: 50px;
    //             background-color: #C9A44D;
    //             position: absolute;
    //             top: 87% !important;
    //             left: 38px !important;
    //             p {
    //                 color: #FFFFFF;
    //                 font-weight: 500;
    //                 font-size: 25px;
    //                 line-height: 50px;
    //                 text-align: center !important;
    //             }
    //         }
    //         .cool7 {
    //             width: 236px !important;
    //             height: 50px;
    //             background-color: #F6F6F6;
    //             position: absolute;
    //             top: 98% !important;
    //             left: 38px !important;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             p {
    //                 color: #FFFFFF;
    //                 font-weight: 500;
    //                 font-size: 13px;
    //                 text-align: center !important;
    //                 color: #C9A44D;
    //             }
    //         }
    //     }
    // }
    .tatcaenglish {
        .tatcahurt {
            .hurt-wrap {
                margin-top: 25px;
                margin-bottom: 20px;
            }
        }
    }
    .tatcathuy {
        display: none !important;
    }
    .homehome {
        display: block;
        justify-content: center;
        margin-left: 0px;
        .row {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        .tatcahome {
            display: flex;
            align-items: center;
            background-color: #f6f6f6;
            //   width: 250px;
            height: 60px;
            margin-top: 30px;
            .home2 {
                h2 {
                    margin-left: 5px;
                    font-size: 18px;
                    line-height: 60px;
                }
            }
        }
        .drem {
            .drem1 {
                .drem2 {
                    img {
                        width: 210px;
                        display: inline-block;
                    }
                }
            }
        }
        .tatcamill11 {
            display: block !important;
            .mill1 {
                display: block !important;
                // width: 232px;
                // height: 280px;
                border-radius: 3px;
                border: 1px solid #c4c4c4;
                box-shadow: 1px 1px 1px 1px #aaa;
                margin: auto;
            }
        }
        .tatcapeople {
            .people {
                .peoplepeople {
                    .people3 {
                        cursor: pointer;
                        p {
                            border-radius: 8px;
                            color: #2b2b2b;
                            font-size: 12px;
                            text-align: center;
                            line-height: 30px;
                            box-shadow: 2px 2px 2px 2px #aaa;
                        }
                    }
                }
                .people7 {
                    input {
                        color: #3d3d3d;
                        font-weight: 400;
                        font-size: 17px;
                        width: 100px;
                        padding: 5px;
                    }
                    .people8 {
                        width: 100px;
                        height: 35px;
                        background-color: #c9a44d;
                        border-radius: 8px;
                        cursor: pointer;
                        margin-top: 8px;
                        p {
                            text-align: center;
                            font-weight: 500;
                            font-size: 16px;
                            color: #ffffff;
                            text-transform: uppercase;
                            margin-top: 9px;
                        }
                    }
                }
            }
        }
        .pro {
            display: block;
            align-items: center;
            justify-content: space-between;
            .pro2 {
                p {
                    color: #8c8c8c;
                    font-size: 12px;
                    padding-top: 15px;
                    padding-left: 23px;
                }
                span {
                    color: #78a962;
                    padding-left: 19px;
                }
                .pro3 {
                    p {
                        color: #78a962;
                        font-size: 12px;
                        text-align: center;
                        line-height: 30px;
                        margin-left: -9px;
                    }
                }
            }
        }
        .tatcalove {
            .love5 {
                .love6 {
                    display: block;
                    align-items: center;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    .love7 {
                        display: flex !important;
                        flex-direction: row !important;
                        margin-left: -9px !important;
                        img {
                            width: 50%;
                            height: auto;
                        }
                    }
                }
            }
        }
        .koko {
            display: none;
        }
    }
    .tatcaschool {
        display: block !important;
        // margin-left: -30px;
        justify-content: center;
        align-items: center;
        .school {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            img {
                margin: auto;
            }
        }
    }
    .download-image {
        img {
            width: 150px;
        }
    }
    .videos {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 340px;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
    .fb_dialog_content {
        background: #fff;
        color: #373737;
        display: none !important;
    }
    .zalo-chat-widget {
        display: none !important;
    }
    .form-control {
        width: 100% !important;
    }
}

.owl-stage {
    display: flex;
    .owl-item {
        display: flex;
    }
}
