<form id="tourPriceBookForm_false" action="/booking/tour/private.html" method="post" _lpchecked="1" class="tour-price-book-form">
  <div class="row">
    <div class="form-group col-md-2 col-xs-12">
        <label for="startDate_false">Khởi hành </label>
        <input class="form-control mod startDate hasDatepicker" type="text" name="startDate" id="startDate_false" value="05/22/2021">
    </div>
    <div class="form-group col-md-3 col-xs-12">
        <label for="adults_false">Số lượng người lớn</label>
        <input class="form-control" name="adult" id="adults_false" type="number" min="0" max="99" value="2">
    </div>
    <div class="form-group col-md-3 col-xs-12">
        <label for="children_false">Số lượng trẻ em(5-10)</label>
        <input class="form-control" name="child" id="children_false" type="number" min="0" max="9" value="0">
    </div>
    <div class="form-group col-md-4 col-xs-12" style="max-width: 190px;">
        <label for="infants_false">Số lượng Trẻ sơ sinh(0-4)</label>
        <input class="form-control" name="infant" id="infants_false" type="number" min="0" max="9" value="0">
    </div>

    <div class="form-group col-md-2 col-xs-12">
        <a class="btn btn-info btn-inquiry" href="javascript:void(0);" onclick="checkRate(false)"><span>Kiểm tra giá</span></a>
    </div>
  </div>
</form>